<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
	<title>TV Principle</title>
	<link rel="stylesheet" href="../../css/basic.css">
	<link rel="stylesheet" href="../../css/style.css">
	<link rel="stylesheet" href="../../css/flexslider.css">
	<script src="../../javascript/jquery-1.8.3.min.js"></script>
	<script src="../../javascript/jquery.flexslider-min.js"></script>
	<script>
	var jqv = jQuery.noConflict();
	window.parent.menuReCall("dep2_8");
	</script>
	<script src="../../javascript/sub_jquery.js"></script>
	<script src="../../javascript/placeholders.min.js"></script>
	<!--[if lt IE 9]>
		<script src="../../javascript/html5shiv.js"></script>
	<![endif]-->
</head>

<body>
	<!-- #219 -->
	<div id="219" class="showCon">
		<div class="conTop">
			<h2>21:9 Aspect ratio</h2>
          <div class="tabBoxWrap">
            <ul class="tabBox clfix">
              <li><a href="">Definition</a></li>
              <li><a href="">Rule</a></li>
            </ul>
          </div>
		</div>
		<!-- //.conTop -->
		<div class="conBottom">
			<div class="conBottomInner">
				<dl class="infoList tabList type2 noFunction">
					<dt>Definition</dt>
					<dd>
						<p>
							When UI elements that are initially made for 16:9 ratio is loaded onto 21:9 wide screen,<br>
							those UI elements can also be best viewed at 21:9 ratio through realignment based on situational principles.
						</p>
						<ul class="listStyle02">
							<li><img src="../../img/visual_style/219/1.png" alt=""></li>
						</ul>
					</dd>
					<dt>Rule</dt>
					<dd>
						<dl class="infoList_1">
							<dt>1. Center align</dt>
							<dd>
								<p>
									For UI components that are not adjacent to left, right, top, bottom sides, keep the alignment at center.
								</p>
								<div class="slideSection type3">
									<div class="flexslider">
										<ul class="slides">
											<li>
												<img src="../../img/visual_style/219/s1-1.png" alt="">
											</li>
											<li>
												<img src="../../img/visual_style/219/s1-2.png" alt="">
											</li>
										</ul>
									</div>
								</div>
							</dd>
							<dt>2. Right side expansion</dt>
							<dd>
								<p>
									For UI components that are list type and over one-line, alignment should be to the left with the list expanding to the right.<br>
This is so that more content list can be shown to the user.
								</p>
								<div class="slideSection type3">
									<div class="flexslider">
										<ul class="slides">
											<li>
												<img src="../../img/visual_style/219/s2-1.png" />
											</li>
											<li>
												<img src="../../img/visual_style/219/s2-2.png" />
											</li>
										</ul>
									</div>
								</div>
							</dd>
							<dt>3. Position Change</dt>
							<dd>
								<p>
									When screen size is adjusted depending on widget's on/off status within 21:9 area,<br>
the UI components that are located on left or right edge are positioned to be proportional to the adjusted screen size
								</p>
								<div class="slideSection type3">
									<div class="flexslider">
										<ul class="slides">
											<li>
												<img src="../../img/visual_style/219/s3-1.png" />
											</li>
											<li>
												<img src="../../img/visual_style/219/s3-2.png" />
											</li>
										</ul>
									</div>
								</div>
							</dd>
							<dt>4. Left & Right blank expansion</dt>
							<dd>
								<p>
									In order to avoid informational area from being too wide at 21:9 ratio,<br>
maintain the position to be the same as 16:9 and expand only the background area. This is so that no information goes beyond the recognizable area.

								</p>
								<div class="slideSection type3">
									<div class="flexslider">
										<ul class="slides">
											<li>
												<img src="../../img/visual_style/219/s4-1.png" />
											</li>
											<li>
												<img src="../../img/visual_style/219/s4-2.png" />
											</li>
											<li>
												<img src="../../img/visual_style/219/s4-3.png" />
											</li>
										</ul>
									</div>
								</div>
							</dd>
						</dl>
					</dd>
				</dl>
			</div>
		</div>
		<!-- //#219.showCon -->
		<!--[if lt IE 9]>
		<script src="../../javascript/placeholders.min.js"></script>
	<![endif]-->
		<div class="topIcon"></div>
</body>

</html>
