<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
  <title>TV Principle</title>
  <link rel="stylesheet" href="../../css/basic.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/flexslider.css">
  <script src="../../javascript/jquery-1.8.3.min.js"></script>
  <script src="../../javascript/jquery.flexslider-min.js"></script>
	<script>
		var jqv = jQuery.noConflict();
		window.parent.menuReCall("dep2_1");
	</script>
	<script src="../../javascript/sub_jquery.js"></script>
	<script src="../../javascript/placeholders.min.js"></script>
  <!--[if lt IE 9]>
		<script src="../../javascript/html5shiv.js"></script>
	<![endif]-->
</head>

<body>
  <!-- #color -->
      <div id="color" class="showCon">
        <div class="conTop">
          <h2>Color</h2>
          <div class="tabBoxWrap">
            <ul class="tabBox clfix">
              <li><a href="">Definition</a></li>
              <li><a href="">Color Pick</a></li>
            </ul>
          </div>
        </div>
        <!-- //.conTop -->
        <div class="conBottom">
          <div class="conBottomInner">
            <dl class="infoList tabList noFunction">
      				<dt>Definition</dt>
      				<dd searchWord="Color">

                <dl class="infoList_1 type2">
                  <dt>Color is an essential element to the UI’s impression and it allows for information status to be shown clearly. 2017 Samsung TV color palette uses diverse color spectrum to create an authentic and aesthetic imagery.</dt>
                  <dd><img src="../../img/visual_style/color/img01.png" alt="" class="searchImg"></dd>
                </dl>
      				</dd>
      				<dt>Color Pick</dt>
      				<dd>
								<p>Color pick is the software technique that apply colors to the UI by picking up the colors in the screen that overlaps with the UI.
This allows to minimize the difference between what’s shown on screen and the UI, as well as maintaining
the elegance when UI is shown on screen. Samsung color palette consists of 9 differtent color chips to provide the most natural viewing experiene,
regardless of the color spectrum in the screen.
</p>
                <div class="videoTvWrap">
                    <div class="videoTv">
                    <img src="../../img/visual_style/color/3.png" alt="">
                    <video controls loop><source src="../../resources/video/visual_style/color/visualstyle_color_pick_sample.mp4" type="video/mp4"> Your browser does not support the video tag.</video>
                  </div>
                </div>
                <dl class="infoList_1 type3">
                  <dt>Real Color Spectrum</dt>
                  <dd>
										<ul class="colorSpectrum clfix">
											<li class="cs1">
												<div class="csImg"><img src="../../img/visual_style/color/cs1.png" alt=""></div>
												<ul class="csImgTxt clfix">
													<li class="fl">HUE:303</li>
													<li class="fr">HUE:253</li>
												</ul>
												<div class="csTxt">#e5c6f1</div>
											</li>
											<li class="cs2">
												<div class="csImg"><img src="../../img/visual_style/color/cs2.png" alt=""></div>
												<ul class="csImgTxt clfix">
													<li class="fl">HUE:252</li>
													<li class="fr">HUE:206</li>
												</ul>
												<div class="csTxt">#c1cff3</div>
											</li>
											<li class="cs3">
												<div class="csImg"><img src="../../img/visual_style/color/cs3.png" alt=""></div>
												<ul class="csImgTxt clfix">
													<li class="fl">HUE:205</li>
													<li class="fr">HUE:146</li>
												</ul>
												<div class="csTxt">#c1f2f5</div>
											</li>
											<li class="cs4">
												<div class="csImg"><img src="../../img/visual_style/color/cs4.png" alt=""></div>
												<ul class="csImgTxt clfix">
													<li class="fl">HUE:145</li>
													<li class="fr">HUE:66</li>
												</ul>
												<div class="csTxt">#caecb1</div>
											</li>
											<li class="cs5">
												<div class="csImg"><img src="../../img/visual_style/color/cs5.png" alt=""></div>
												<ul class="csImgTxt clfix">
													<li class="fl">HUE:67</li>
													<li class="fr">HUE:37</li>
												</ul>
												<div class="csTxt">#f5eac9</div>
											</li>
											<li class="cs6">
												<div class="csImg"><img src="../../img/visual_style/color/cs6.png" alt=""></div>
												<ul class="csImgTxt clfix">
													<li class="fl">HUE:36</li>
													<li class="fr">HUE:10</li>
												</ul>
												<div class="csTxt">#f2cab1</div>
											</li>
											<li class="cs7">
												<div class="csImg"><img src="../../img/visual_style/color/cs7.png" alt=""></div>
												<ul class="csImgTxt clfix">
													<li class="fl">HUE:9</li>
													<li class="fr">HUE:304</li>
												</ul>
												<div class="csTxt">#f3d0d0</div>
											</li>
										</ul>
									</dd>
                  <dt>Black & White Spectrum</dt>
                  <dd>
										<ul class="bwSpectrum clfix">
											<li class="first">
												<div class="bwImg"><img src="../../img/visual_style/color/bw1.png" alt=""></div>
												<ul class="bwImgTxt clfix">
													<li class="fl">B:0</li>
													<li class="fr">B:89</li>
												</ul>
												<div class="bwImg2"><img src="../../img/visual_style/color/bw3.png" alt=""></div>
												<ul class="bwImgTxt">
													<li>#dee5e8</li>
												</ul>
											</li>
											<li class="last">
												<div class="bwImg"><img src="../../img/visual_style/color/bw2.png" alt=""></div>
												<ul class="bwImgTxt clfix">
													<li class="fl">B:90</li>
													<li class="fr">B:100</li>
												</ul>
												<div class="bwImg2"><img src="../../img/visual_style/color/bw4.png" alt=""></div>
												<ul class="bwImgTxt">
													<li>#ffffff</li>
												</ul>
											</li>
										</ul>
									</dd>
                </dl>
      				</dd>
      			</dl>
          </div>
        </div>
      </div><!-- //#color.showCon -->

  <!--[if lt IE 9]>
    <script src="../../javascript/placeholders.min.js"></script>
  <![endif]-->
<div class="topIcon"></div>
</body>

</html>
