<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
  <title>TV Principle</title>
  <link rel="stylesheet" href="../../css/basic.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/flexslider.css">
  <script src="../../javascript/jquery-1.8.3.min.js"></script>
  <script src="../../javascript/jquery.flexslider-min.js"></script>
  <script>
    var jqv = jQuery.noConflict();
    window.parent.menuReCall("dep2_6");
  </script>
  <script src="../../javascript/sub_jquery.js"></script>
  <script src="../../javascript/placeholders.min.js"></script>
  <!--[if lt IE 9]>
    <script src="../../javascript/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- #highlight -->
    <div id="highlight" class="showCon">
      <div class="conTop">
        <h2>Highlight</h2>
        <div class="tabBoxWrap">
          <ul class="tabBox clfix">
            <li><a href="">Definition</a></li>
            <li><a href="">Properties</a></li>
            <li><a href="">Types</a></li>
            <li><a href="">Specs</a></li>
          </ul>
        </div>
      </div>
      <!-- //.conTop -->
      <div class="conBottom">
        <div class="conBottomInner">
          <dl class="infoList tabList noFunction">
            <dt>Definition</dt>
            <dd searchWord="Highlight">
              <p>
                Highlight acts as the user's eyes and it represents the item, in which the user's focus is currently on.
                <br> By using the remote control, it moves with the user's view and is able to be selected.
              </p>
            </dd>
            <dt>Properties</dt>
            <dd>
              <dl class="infoList_1">
                <dt>1. Clear & Precise</dt>
                <dd>
                  <p>
                    Tension effect is applied to give clear feedback and high visual hierarchy during the moment highlight takes place.
                  </p>
                  <ul class="listStyle02">
                    <li><img src="../../img/visual_style/highlight/1.png" alt=""></li>
                  </ul>
                </dd>
                <dt>2. Visual Consistency</dt>
                <dd>
                  <p>
                    Unified style highlight effect should be applied to all elements.
                  </p>
                  <ul class="listStyle02">
                    <li><img src="../../img/visual_style/highlight/2.png" alt=""></li>
                  </ul>
                </dd>
              </dl>
            </dd>
            <dt>Types</dt>
            <dd>
              <dl class="infoList_1">
                <dt>1. Thumbnail</dt>
                <dd>
                  <div class="greyBox2"><img src="../../img/visual_style/highlight/7.png" alt=""></div>
                </dd>
                <dt>2. General List & Button</dt>
                <dd>
                  <div class="greyBox2">
                    <img src="../../img/visual_style/highlight/8.png" alt="">
                  </div>
                </dd>
              </dl>
            </dd>
            <dt>Specs</dt>
            <dd>
              <dl class="infoList_1">
                <dt>Resources</dt>
                <dd>
                  <dl class="visualTagList">
                    <dt>R_HIGHLIGHT</dt>
                    <dd><img src="../../img/visual_style/highlight/9.png" alt=""></dd>
                  </dl>
                  <div class="visualImgTxt"><img src="../../img/visual_style/highlight/11.png" alt="">
                  <div class="tempLinkBox">
                    LINK : <a href="javascript:parent.parentLocationChg('components/button/basicButton')">C_BUTTONBASIC</a>
                  </div>
                  </div>
                  <div class="btn_box">
                    <a href="../../resources/r_highlight.zip" class="btn_download"><span>Download PNG Resources</span></a>
                  </div>
                </dd>
                <dt>Motion</dt>
                <dd>
                  <dl class="visualTagList">
                    <dt>Focus in</dt>
                    <dd><video controls loop><source src="../../resources/video/visual_style/highlight/Principle_Highlight_Focus_In.mp4" type="video/mp4"> Your browser does not support the video tag.</video></dd>
                    <dt>Focus out</dt>
                    <dd><video controls loop><source src="../../resources/video/visual_style/highlight/Principle_Highlight_Focus_Out.mp4" type="video/mp4"> Your browser does not support the video tag.</video></dd>
                    <dt>Press feedback</dt>
                    <dd><video controls loop><source src="../../resources/video/visual_style/highlight/Principle_Highlight_Press feedback.mp4" type="video/mp4"> Your browser does not support the video tag.</video></dd>
                  </dl>
                </dd>
              </dl>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <!-- //#highlight.showCon -->
  <!--[if lt IE 9]>
    <script src="../../javascript/placeholders.min.js"></script>
    <![endif]-->
    <div class="topIcon"></div>
  </body>

  </html>
