<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
	<title>TV Principle</title>
	<link rel="stylesheet" href="../../css/basic.css">
	<link rel="stylesheet" href="../../css/style.css">
	<link rel="stylesheet" href="../../css/flexslider.css">
	<script src="../../javascript/jquery-1.8.3.min.js"></script>
	<script src="../../javascript/jquery.flexslider-min.js"></script>
	<script>
	var jqv = jQuery.noConflict();
	window.parent.menuReCall("dep2_2");
	</script>
	<script src="../../javascript/sub_jquery.js"></script>
	<script src="../../javascript/placeholders.min.js"></script>
	<!--[if lt IE 9]>
		<script src="../../javascript/html5shiv.js"></script>
	<![endif]-->
</head>

<body>
	<!-- #icon -->
	<div id="icon" class="showCon">
		<div class="conTop">
			<h2>Icon</h2>
			<div class="tabBoxWrap">
				<ul class="tabBox clfix">
					<li><a href="">Definition</a></li>
					<li><a href="">Style</a></li>
				</ul>
			</div>
		</div>
		<!-- //.conTop -->
		<div class="conBottom">
			<div class="conBottomInner">
				<dl class="infoList tabList noFunction">
					<dt>Definition</dt>
					<dd searchWord="Icon">
						<dl class="infoList_1 type2">
							<dt>
								With the corporate icon identity, it allows for connected visual experience across different devices and platforms.
								<br> This in turn strengthens the overall bran identity for Samsung Electronics and increase work efficiency by sharing universal design element.
							</dt>
							<dd><img src="../../img/visual_style/icon/1.png" alt="" class="searchImg"></dd>
						</dl>
					</dd>
					<dt>Style</dt>
					<dd>
						<dl class="infoList_1">
							<dt>
								1) 2D Icon
							</dt>
							<dd>
								<dl class="infoList_1 type2">
									<dt>1-1. SOLID TYPE <span class="col_e1569c">(R_ICON_XS_*)</span></dt>
									<dd>
										When there is a need for additional information regarding the main contents, information with the lowest priority can be shown with a 25x25px solid type icon.
										<div class="typeTab maxW1000">
											<ul class="typeTabList clfix tab1">
												<li class="active"><a href="">Detail view</a></li>
												<li><a href="">Simple view</a></li>
											</ul>
											<ul class="gridList_4_6 clfix">
												<li class="txtC">
													<table border="0" cellspacing="0" cellpadding="0" class="solidTypeTbl">
														<tbody>
															<tr>
																<th><img src="../../img/visual_style/icon/2.png" alt=""></th>
															</tr>
															<tr>
																<td>#8d9098&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../img/visual_style/icon/3.png" alt=""></td>
															</tr>
														</tbody>
													</table>
												</li>
												<li>
													<div class="slideSection type2">
														<div class="flexslider">
															<ul class="slides">
																<li>
																	<img src="../../img\visual_style\icon\sl_1_1.png" />
																</li>
																<li>
																	<img src="../../img\visual_style\icon\sl_1_2.png" />
																</li>
																<li>
																	<img src="../../img\visual_style\icon\sl_1_3.png" />
																</li>
															</ul>
														</div>
													</div>
												</li>
											</ul>
											<ul class="typeTabCon">
												<li class="active">
													<ul class="itemInfoList clfix clfix">
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i1.png" alt=""></th>
																	<td>
																		<span class="tit">Check</span>
																		<br> (r_icon_xs_check)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i2.png" alt=""></th>
																	<td>
																		<span class="tit">Favorite</span>
																		<br> (r_icon_xs_favorite)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i3.png" alt=""></th>
																	<td>
																		<span class="tit">Series</span>
																		<br> (r_icon_xs_series)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i4.png" alt=""></th>
																	<td>
																		<span class="tit">Lock</span>
																		<br> (r_icon_xs_lock)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i5.png" alt=""></th>
																	<td>
																		<span class="tit">Simulcast</span>
																		<br> (r_icon_xs_simulcast)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i6.png" alt=""></th>
																	<td>
																		<span class="tit">ST_subtitle</span>
																		<br> (r_icon_xs_stsubtitle)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i7.png" alt=""></th>
																	<td>
																		<span class="tit">Dynamic Cancel</span>
																		<br> (r_icon_xs_dynamiccancel)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i8.png" alt=""></th>
																	<td>
																		<span class="tit">Recording</span>
																		<br> (r_icon_xs_recording)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i9.png" alt=""></th>
																	<td>
																		<span class="tit">Scrambled</span>
																		<br> (r_icon_xs_scrambled)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i10.png" alt=""></th>
																	<td>
																		<span class="tit">Dynamic Add</span>
																		<br> (r_icon_xs_dynamicadd)
																	</td>
																</tr>
															</table>
														</li>
														<!-- 10 -->
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i11.png" alt=""></th>
																	<td>
																		<span class="tit">16:9</span>
																		<br> (r_icon_xs_169)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i12.png" alt=""></th>
																	<td>
																		<span class="tit">Guidance</span>
																		<br> (r_icon_xs_guidance)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i13.png" alt=""></th>
																	<td>
																		<span class="tit">Rating_allpublic</span>
																		<br> (r_icon_xs_ratingallpublic)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i14.png" alt=""></th>
																	<td>
																		<span class="tit">4:3</span>
																		<br> (r_icon_xs_43)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i15.png" alt=""></th>
																	<td>
																		<span class="tit">Now Watching</span>
																		<br> (r_icon_xs_nowwatching)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i16.png" alt=""></th>
																	<td>
																		<span class="tit">Rating_children</span>
																		<br> (r_icon_xs_ratingchildren)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i17.png" alt=""></th>
																	<td>
																		<span class="tit">1:1</span>
																		<br> (r_icon_xs_11)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i18.png" alt=""></th>
																	<td>
																		<span class="tit">Hard of hearing</span>
																		<br> (r_icon_xs_hardofhearing)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i19.png" alt=""></th>
																	<td>
																		<span class="tit">Rating_not_classified</span>
																		<br> (r_icon_xs_ratingnotclassified)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i20.png" alt=""></th>
																	<td>
																		<span class="tit">288p</span>
																		<br> (r_icon_xs_288p)
																	</td>
																</tr>
															</table>
														</li>
														<!-- 20 -->
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i21.png" alt=""></th>
																	<td>
																		<span class="tit">Language</span>
																		<br> (r_icon_xs_language)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i22.png" alt=""></th>
																	<td>
																		<span class="tit">Rating_xrated</span>
																		<br> (r_icon_xs_ratingxrated)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i23.png" alt=""></th>
																	<td>
																		<span class="tit">480p</span>
																		<br> (r_icon_xs_480p)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i24.png" alt=""></th>
																	<td>
																		<span class="tit">3840i</span>
																		<br> (r_icon_xs_3840i)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i25.png" alt=""></th>
																	<td>
																		<span class="tit">576p</span>
																		<br> (r_icon_xs_576p)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i26.png" alt=""></th>
																	<td>
																		<span class="tit">480i</span>
																		<br> (r_icon_xs_480i)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i27.png" alt=""></th>
																	<td>
																		<span class="tit">3840p</span>
																		<br> (r_icon_xs_3840p)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i28.png" alt=""></th>
																	<td>
																		<span class="tit">720p</span>
																		<br> (r_icon_xs_720p)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i29.png" alt=""></th>
																	<td>
																		<span class="tit">288i</span>
																		<br> (r_icon_xs_288i)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i30.png" alt=""></th>
																	<td>
																		<span class="tit">2160i</span>
																		<br> (r_icon_xs_2160i)
																	</td>
																</tr>
															</table>
														</li>
														<!-- 30 -->
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i31.png" alt=""></th>
																	<td>
																		<span class="tit">576i</span>
																		<br> (r_icon_xs_576i)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i32.png" alt=""></th>
																	<td>
																		<span class="tit">1080i</span>
																		<br> (r_icon_xs_1080i)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i33.png" alt=""></th>
																	<td>
																		<span class="tit">2160p</span>
																		<br> (r_icon_xs_2160p)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i34.png" alt=""></th>
																	<td>
																		<span class="tit">1080p</span>
																		<br> (r_icon_xs_1080p)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i35.png" alt=""></th>
																	<td>
																		<span class="tit">HD</span>
																		<br> (r_icon_xs_hd)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i36.png" alt=""></th>
																	<td>
																		<span class="tit">SD</span>
																		<br> (r_icon_xs_sd)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i37.png" alt=""></th>
																	<td>
																		<span class="tit">3D</span>
																		<br> (r_icon_xs_3d)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i38.png" alt=""></th>
																	<td>
																		<span class="tit">AD</span>
																		<br> (r_icon_xs_ad)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i39.png" alt=""></th>
																	<td>
																		<span class="tit">UHD</span>
																		<br> (r_icon_xs_uhd)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i40.png" alt=""></th>
																	<td>
																		<span class="tit">TTX</span>
																		<br> (r_icon_xs_ttx)
																	</td>
																</tr>
															</table>
														</li>
														<!-- 40 -->
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/solid/i41.png" alt=""></th>
																	<td>
																		<span class="tit">Star</span>
																		<br>(r_icon_xs_star)
																	</td>
																</tr>
															</table>
														</li>
													</ul>
												</li>
												<li></li>
											</ul>
										</div>
										<div class="btn_box">
											<a href="../../resources/icon_set_r_icon_xs.zip" class="btn_download"><span>Download Resource ICON XS set</span></a>
										</div>
									</dd>
									<dt>1-2. Line Type <span class="col_e1569c">(R_ICON_XS_ARROW_*)</span></dt>
									<dd>
										If the icon itself can stand alone to represent certain function and/or contains same level of information as the main contents, either a 38x38 or 58x58 or 78x78px 2px line type icon can be applied.
										<div class="typeTab">
											<ul class="typeTabList clfix tab1">
												<li class="active"><a href="">Detail view</a></li>
												<li><a href="">Simple view</a></li>
											</ul>
											<ul class="gridList_4_6 type2 clfix maxW1000">
												<li class="txtC">
													<table border="0" cellspacing="0" cellpadding="0" class="solidTypeTbl">
														<tbody>
															<tr>
																<th colspan="2"><img src="../../img/visual_style/icon/9.png" alt=""></th>
															</tr>
															<tr>
																<td>2px&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../img/visual_style/icon/14.png" alt=""></td>
																<td>#000000&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../img/visual_style/icon/13.png" alt=""></td>
															</tr>
														</tbody>
													</table>
												</li>
												<li>
													<div class="slideSection type2">
														<div class="flexslider">
															<ul class="slides">
																<li>
																	<img src="../../img\visual_style\icon\sl_2_1.png" />
																</li>
																<li>
																	<img src="../../img\visual_style\icon\sl_2_2.png" />
																</li>
																<li>
																	<img src="../../img\visual_style\icon\sl_2_3.png" />
																</li>
															</ul>
														</div>
													</div>
												</li>
											</ul>
											<ul class="typeTabCon">
												<li class="active">
													<ul class="itemInfoList clfix type3">
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/arrow/i1.png" alt=""></th>
																	<td>
																		<span class="tit">Arrow_xs_left</span>
																		<br>(r_icon_xs_arrow_l)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/arrow/i2.png" alt=""></th>
																	<td>
																		<span class="tit">Arrow_xs_right</span>
																		<br>
(r_icon_xs_arrow_r)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/arrow/i3.png" alt=""></th>
																	<td>
																		<span class="tit">Arrow_xs_top</span>
																		<br>
(r_icon_xs_arrow_t)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/arrow/i4.png" alt=""></th>
																	<td>
																		<span class="tit">Arrow_xs_down</span>
																		<br>
(r_icon_xs_arrow_d)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/arrow/i5.png" alt=""></th>
																	<td>
																		<span class="tit">Arrow_s_left</span>
																		<br>
(r_icon_s_arrow_l)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/arrow/i6.png" alt=""></th>
																	<td>
																		<span class="tit">Arrow_s_right</span>
																		<br>
(r_icon_s_arrow_r)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/arrow/i7.png" alt=""></th>
																	<td>
																		<span class="tit">Arrow_s_top</span>
																		<br>
(r_icon_s_arrow_t)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/arrow/i8.png" alt=""></th>
																	<td>
																		<span class="tit">Arrow_s_down</span>
																		<br>
(r_icon_s_arrow_d)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/arrow/i9.png" alt=""></th>
																	<td>
																		<span class="tit">Arrow_m_left</span>
																		<br>
(r_icon_m_arrow_l)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/arrow/i10.png" alt=""></th>
																	<td>
																		<span class="tit">Arrow_m_right</span>
																		<br>
(r_icon_m_arrow_r)
																	</td>
																</tr>
															</table>
														</li>
														<!-- 10 -->
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/arrow/i11.png" alt=""></th>
																	<td>
																		<span class="tit">Arrow_m_top</span>
																		<br>
(r_icon_m_arrow_t)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/arrow/i12.png" alt=""></th>
																	<td>
																		<span class="tit">Arrow_m_down</span>
																		<br>
(r_icon_m_arrow_d)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/arrow/i13.png" alt=""></th>
																	<td>
																		<span class="tit">Arrow_l_left</span>
																		<br>
(r_icon_l_arrow_l)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/arrow/i14.png" alt=""></th>
																	<td>
																		<span class="tit">Arrow_l_right</span>
																		<br>
(r_icon_l_arrow_r)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/arrow/i15.png" alt=""></th>
																	<td>
																		<span class="tit">Arrow_l_top</span>
																		<br>
(r_icon_l_arrow_t)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/arrow/i16.png" alt=""></th>
																	<td>
																		<span class="tit">Arrow_l_down</span>
																		<br>
(r_icon_l_arrow_d)
																	</td>
																</tr>
															</table>
														</li>
													</ul>
												</li>
												<li><!-- 빈탭박스 --></li>
											</ul>
											<!-- .typeTabCon -->
										</div>
										<!-- .typeTab -->
										<div class="btn_box">
											<a href="../../resources/icon_set_r_icon_arrow.zip" class="btn_download"><span>Download Resource ICON ARROW set</span></a>
										</div>
									</dd>
									<dt>1-3. Rich Line Type</dt>
									<dd>
										When showing one selected icon from multiple line type icons, the selected one contains richer color with animation to give it more focus.
										<table border="0" cellspacing="0" cellpadding="0" class="rltTbl maxW1000">
											<tbody>
												<tr>
													<th><img src="../../img/visual_style/icon/5.png" alt=""></th>
													<td>
														<div class="rltDiv">
															<div class="tit">Normal Status</div>
															<div class="rltTblImg">
																<img src="../../img/visual_style/icon/6.png" alt="">
															</div>
															<ul class="rltUl clfix">
																<li class="fl">#707070</li>
																<li class="fr">#000000</li>
															</ul>
														</div>
													</td>
												</tr>
												<tr>
													<th><img src="../../img/visual_style/icon/7.png" alt=""></th>
													<td>
														<div class="rltDiv">
															<div class="tit">Focus Status</div>
															<div class="rltTblImg">
																<img src="../../img/visual_style/icon/8.png" alt="">
															</div>
															<ul class="rltUl clfix">
																<li class="fl">#37bd9c</li>
																<li class="fr">#287abc</li>
															</ul>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</dd>
								</dl>
							</dd>
							<dt>
								2) 2.5D
							</dt>
							<dd>
								<dl class="infoList_1 type2">
									<dt>2-1. Specific Device <span class="col_e1569c">(R_ICON_SPECIFIC)</span></dt>
									<dd>
										When representing actual product or device, the device’s characteristics are somewhat realistically represented.
										<br> Compared to 2D icons, this type requires for more specific representation techniqures, hence should be size at minimum 80x80 to represent more clearly. Pay careful attention to make sure these still represent as icons. The perspective will either be front or top-down view depending on which view best represents the device, and should refrain from photo-realistic representation techniques.
										<div class="typeTab maxW1000">
											<ul class="typeTabList clfix tap2">
												<li class="active"><a href="">Detail view</a></li>
												<li><a href="">Simple view</a></li>
											</ul>
											<ul class="gridList_4_6 type2 clfix">
												<li class="txtC">
													<img src="../../img/visual_style/icon/10.png" alt="" class="icon_pad">
												</li>
												<li>
													<div class="slideSection type2">
														<div class="flexslider">
															<ul class="slides">
																<li>
																	<img src="../../img\visual_style\icon\sl_3_1.png" />
																</li>
															</ul>
														</div>
													</div>
												</li>
											</ul>
											<ul class="typeTabCon">
												<li class="active">
													<ul class="itemInfoList clfix type2">
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/specific/i1.png" alt=""></th>
																	<td>
																		<span class="tit">AV</span>
																		<br> (r_icon_device_l_av)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/specific/i2.png" alt=""></th>
																	<td>
																		<span class="tit">Component</span>
																		<br> (r_icon_device_l_component)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/specific/i3.png" alt=""></th>
																	<td>
																		<span class="tit">Dlna unknown</span>
																		<br> (r_icon_device_l_dlnaunknown)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/specific/i4.png" alt=""></th>
																	<td>
																		<span class="tit">Externalhdd</span>
																		<br> (r_icon_device_l_externalhdd)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/specific/i5.png" alt=""></th>
																	<td>
																		<span class="tit">HDMI</span>
																		<br> (r_icon_device_l_hdmi)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/specific/i6.png" alt=""></th>
																	<td>
																		<span class="tit">Ops</span>
																		<br> (r_icon_device_l_ops)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/specific/i7.png" alt=""></th>
																	<td>
																		<span class="tit">STB iptv</span>
																		<br> (r_icon_device_l_stbiptv)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/specific/i8.png" alt=""></th>
																	<td>
																		<span class="tit">Bluray</span>
																		<br> (r_icon_device_l_bluray)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/specific/i9.png" alt=""></th>
																	<td>
																		<span class="tit">Dsub</span>
																		<br> (r_icon_device_l_dsub)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/specific/i10.png" alt=""></th>
																	<td>
																		<span class="tit">Game</span>
																		<br> (r_icon_device_l_game)
																	</td>
																</tr>
															</table>
														</li>
														<!-- 10 -->
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/specific/i11.png" alt=""></th>
																	<td>
																		<span class="tit">Gear</span>
																		<br> (r_icon_device_l_gear)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/specific/i12.png" alt=""></th>
																	<td>
																		<span class="tit">DVI</span>
																		<br> (r_icon_device_l_dvi)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/specific/i13.png" alt=""></th>
																	<td>
																		<span class="tit">HTS</span>
																		<br> (r_icon_device_l_hts)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/specific/i14.png" alt=""></th>
																	<td>
																		<span class="tit">PC</span>
																		<br> (r_icon_device_l_pc)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/specific/i15.png" alt=""></th>
																	<td>
																		<span class="tit">Tablet</span>
																		<br> (r_icon_device_l_tablet)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/specific/i16.png" alt=""></th>
																	<td>
																		<span class="tit">Mobile</span>
																		<br> (r_icon_device_l_mobile)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/specific/i17.png" alt=""></th>
																	<td>
																		<span class="tit">TV</span>
																		<br> (r_icon_device_l_tv)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/specific/i18.png" alt=""></th>
																	<td>
																		<span class="tit">USB</span>
																		<br> (r_icon_device_l_usb)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/specific/i19.png" alt=""></th>
																	<td>
																		<span class="tit">RVU</span>
																		<br> (r_icon_device_l_rvu)
																	</td>
																</tr>
															</table>
														</li>
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/specific/i20.png" alt=""></th>
																	<td>
																		<span class="tit">Camera</span>
																		<br> (r_icon_device_l_camera)
																	</td>
																</tr>
															</table>
														</li>
														<!-- 20 -->
														<li>
															<table class="itemInfoTbl">
																<tr>
																	<th><img src="../../img/visual_style/icon/specific/i21.png" alt=""></th>
																	<td>
																		<span class="tit">Discplayer</span>
																		<br> (r_icon_device_l_discplayer)
																	</td>
																</tr>
															</table>
														</li>
													</ul>
												</li>
												<li></li>
											</ul>
										</div>
										<div class="btn_box">
											<a href="../../resources/icon_set_r_icon_device_l.zip" class="btn_download"><span>Download Resource ICON Device set</span></a>
										</div>
									</dd>
								</dl>
							</dd>
							<dt>
								3) Logo
							</dt>
							<dd>
								<p class="marB30">
									There are two different types of icons for logos in Samsung TV : channel and 3rd party app logos. As logos are to represent that particular broadcasting station or service, these should not be modified. However, as changing the outer shape of the logo does not destroy the actual logo, a circular or rounded rectangular frame is allowed. Samsung TV uses a unified outer shape for these types of logos.
								</p>
								<dl class="infoList_1 type2">
									<dt>3-1. Circle Frame</dt>
									<dd>
										For channel logo, it uses a circular frame.
										<ul class="gridList_4_6 type2 maxW1000 clfix">
											<li class="txtC">
												<img src="../../img/visual_style/icon/11.png" alt="">
											</li>
											<li>
												<div class="slideSection type2">
													<div class="flexslider">
														<ul class="slides">
															<li>
																<img src="../../img\visual_style\icon\sl_4_1.png" />
															</li>
															<li>
																<img src="../../img\visual_style\icon\sl_4_2.png" />
															</li>
															<li>
																<img src="../../img\visual_style\icon\sl_4_3.png" />
															</li>
														</ul>
													</div>
												</div>
											</li>
										</ul>
									</dd>
									<dt>3-2. Square Frame</dt>
									<dd>
										For apps, company services, and 3rd party apps which are shown as the app itself. a rectangular frame is applied.
										<br> Launcher icons in home are 16:9, all the rest are square-shaped.
										<ul class="gridList_4_6 type2 maxW1000 clfix">
											<li class="txtC">
												<img src="../../img/visual_style/icon/12.png" alt="">
											</li>
											<li>
												<div class="slideSection type2">
													<div class="flexslider">
														<ul class="slides">
															<li>
																<img src="../../img\visual_style\icon\sl_5_1.png" />
															</li>
															<li>
																<img src="../../img\visual_style\icon\sl_5_2.png" />
															</li>
															<li>
																<img src="../../img\visual_style\icon\sl_5_3.png" />
															</li>
														</ul>
													</div>
												</div>
											</li>
										</ul>
									</dd>
								</dl>
							</dd>
						</dl>
					</dd>
				</dl>
			</div>
		</div>
	</div>
	<!-- //#icon.showCon -->
	<!--[if lt IE 9]>
		<script src="../../javascript/placeholders.min.js"></script>
	<![endif]-->
	<div class="topIcon"></div>
</body>

</html>
