<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
  <title>TV Principle</title>
  <link rel="stylesheet" href="../../css/basic.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/flexslider.css">
  <script src="../../javascript/jquery-1.8.3.min.js"></script>
  <script src="../../javascript/jquery.flexslider-min.js"></script>
  <script>
  var jqv = jQuery.noConflict();
  window.parent.menuReCall("dep2_3");
  </script>
  <script src="../../javascript/sub_jquery.js"></script>
  <script src="../../javascript/placeholders.min.js"></script>
  <!--[if lt IE 9]>
    <script src="../../javascript/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <!-- #typography -->
  <div id="typography" class="showCon">
    <div class="conTop">
      <h2>Typography</h2>
      <div class="tabBoxWrap">
        <ul class="tabBox clfix">
          <li><a href="">Typeface</a></li>
          <li><a href="">Weights</a></li>
          <li><a href="">Style</a></li>
          <li><a href="">Leading</a></li>
          <li><a href="">Color &amp; Contrast</a></li>
          <li><a href="">Text Sliding</a></li>
          <li><a href="">Text Align</a></li>
        </ul>
      </div>
    </div>
    <!-- //.conTop -->
    <div class="conBottom">
      <div class="conBottomInner">
        <dl class="infoList tabList noFunction">
          <dt>Typeface</dt>
          <dd searchWord="Typography">
            <dl class="infoList_1">
              <dt>Samsung One Font</dt>
              <dd>
                <dl class="infoList_1 type2">
                  <dt>
                    Samsung One UI is the new typography set for Samsung Smart TV.
                    <br> Additionally, Samsung One UI will be used as the default type for all of Samsung’s Tizen OS.
                  </dt>
                  <dd><img src="../../img/visual_style/typography/tbd1.png" alt="" class="searchImg">
                    <div class="btn_box type2">
                      <a href="../../resources/samsungOneFont.zip" class="btn_download"><span>Download Samsung One Font for Designer</span></a>
                    </div>
                  </dd>
                </dl>
              </dd>
            </dl>
          </dd>
          <dt>Weights</dt>
          <dd>
            <dl class="infoList_1 type2">
              <dt>When composing the screen with text, it is possible to create more aesthetically pleasing screens by using different text weights depending on thetype of information. Samsung One UI font comes in range of 6 different weights (200, 300, 400, 500, 600, 700) and 300, 400 and 600 are usedtogether in System UI to create a more varied rhythm.</dt>
              <dd><img src="../../img/visual_style/typography/tbd2.png" alt="">
              </dd>
            </dl>
          </dd>
          <dt>Style</dt>
          <dd>
            <dl class="infoList_1 type2">
              <dt>All of font styles such as size, weight, and opacity use set styles down below to compose various UI in the Samsung TV.</dt>
              <dd>
                <div class="typeTab">
                  <ul class="typeTabList clfix">
                    <li class="active"><a href="">Detail view</a></li>
                    <li><a href="">Simple view</a></li>
                  </ul>
                  <ul class="typeTabCon">
                    <li class="active">
                      <dl class="typeStyleDetail">
                        <dt><span class="tsdNum">D</span> DISPLAY <span class="tsd_r">( R_BLACKTEXT_DISPLAY )</span></dt>
                        <dd class="type74 tsdNum1">
                          <dl class="tsd_in">
                            <dt>NORMAL</dt>
                            <dd class="tsd_1">SOne400, 74px, #111111, 100%</dd>
                            <dt>FOCUSED</dt>
                            <dd class="typeFocus tsd_2"><span class="typeSpan">-</span></dd>
                            <dt>DISABLED-NORMAL</dt>
                            <dd class="tsd_3"><span class="typeSpan">-</span></dd>
                            <dt>DISABLED-FOCUSED</dt>
                            <dd class="typeFocus tsd_4"><span class="typeSpan">-</span></dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum">D</span> DISPLAY <span class="tsd_r">( R_WHITETEXT_DISPLAY )</span></dt>
                        <dd class="type74 whiteText">
                          <dl class="tsd_in">
                            <dt>NORMAL</dt>
                            <dd class="tsd_1 col_ed ">SOne400, 74px, #ededed, 100%</dd>
                            <dt>FOCUSED</dt>
                            <dd class="typeFocus tsd_2"><span class="typeSpan">-</span></dd>
                            <dt>DISABLED-NORMAL</dt>
                            <dd class="tsd_3"><span class="typeSpan">-</span></dd>
                            <dt>DISABLED-FOCUSED</dt>
                            <dd class="typeFocus tsd_4"><span class="typeSpan">-</span></dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type2">H1</span> HEADLINE 1 <span class="tsd_r">( R_BLACKTEXT_HEADLINE1 )</span></dt>
                        <dd class="type52 tsdNum2">
                          <dl class="tsd_in">
                            <dt>NORMAL</dt>
                            <dd class="tsd_1 col555 opct70">SamsungOne400, 52px, #555555, 70%</dd>
                            <dt>FOCUSED</dt>
                            <dd class="typeFocus tsd_2"><span class="typeSpan">-</span></dd>
                            <dt>DISABLED-NORMAL</dt>
                            <dd class="tsd_3"><span class="typeSpan">-</span></dd>
                            <dt>DISABLED-FOCUSED</dt>
                            <dd class="typeFocus tsd_4"><span class="typeSpan">-</span></dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type2">H1</span> HEADLINE 1 <span class="tsd_r">( R_WHITETEXT_HEADLINE1 )</span></dt>
                        <dd class="type52 tsdNum2 whiteText">
                          <dl class="tsd_in">
                            <dt>NORMAL</dt>
                            <dd class="tsd_1 col_b2 opct70 ">SamsungOne400, 52px, #b2b2b2, 70%</dd>
                            <dt>FOCUSED</dt>
                            <dd class="typeFocus tsd_2"><span class="typeSpan">-</span></dd>
                            <dt>DISABLED-NORMAL</dt>
                            <dd class="tsd_3"><span class="typeSpan">-</span></dd>
                            <dt>DISABLED-FOCUSED</dt>
                            <dd class="typeFocus tsd_4"><span class="typeSpan">-</span></dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type2">H2</span> HEADLINE 2 <span class="tsd_r">( R_BLACKTEXT_HEADLINE2 )</span></dt>
                        <dd class="type46 tsdNum3">
                          <dl class="tsd_in">
                            <dt>NORMAL</dt>
                            <dd class="tsd_1 col555 opct70">SamsungOne400, 46px, #555555, 70%</dd>
                            <dt>FOCUSED</dt>
                            <dd class="typeFocus tsd_2"><span class="typeSpan">-</span></dd>
                            <dt>DISABLED-NORMAL</dt>
                            <dd class="tsd_3"><span class="typeSpan">-</span></dd>
                            <dt>DISABLED-FOCUSED</dt>
                            <dd class="typeFocus tsd_4"><span class="typeSpan">-</span></dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type2">H2</span> HEADLINE 2 <span class="tsd_r">( R_WHITETEXT_HEADLINE2 )</span></dt>
                        <dd class="type46 tsdNum3 whiteText">
                          <dl class="tsd_in">
                            <dt>NORMAL</dt>
                            <dd class="tsd_1 col_b2 opct70 ">SamsungOne400, 46px, #b2b2b2, 70%</dd>
                            <dt>FOCUSED</dt>
                            <dd class="typeFocus tsd_2"><span class="typeSpan">-</span></dd>
                            <dt>DISABLED-NORMAL</dt>
                            <dd class="tsd_3"><span class="typeSpan">-</span></dd>
                            <dt>DISABLED-FOCUSED</dt>
                            <dd class="typeFocus tsd_4"><span class="typeSpan">-</span></dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type3">T1</span> TITLE 1 <span class="tsd_r">( R_BLACKTEXT_TITLE1 )</span></dt>
                        <dd class="type52 tsdNum4">
                          <dl class="tsd_in">
                            <dt>NORMAL</dt>
                            <dd class="tsd_1 col111">SamsungOne400, 52px, #111111, 100%</dd>
                            <dt>FOCUSED</dt>
                            <dd class="tsd_2"><span class="typeSpan">-</span></dd>
                            <dt>DISABLED-NORMAL</dt>
                            <dd class="tsd_3"><span class="typeSpan">-</span></dd>
                            <dt>DISABLED-FOCUSED</dt>
                            <dd class="tsd_4"><span class="typeSpan">-</span></dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type3">T1</span> TITLE 1 <span class="tsd_r">( R_WHITETEXT_TITLE1 )</span></dt>
                        <dd class="type52 tsdNum4 whiteText">
                          <dl class="tsd_in">
                            <dt>NORMAL</dt>
                            <dd class="tsd_1 col_ed ">SamsungOne400, 52px, #ededed, 100%</dd>
                            <dt>FOCUSED</dt>
                            <dd class="tsd_2"><span class="typeSpan">-</span></dd>
                            <dt>DISABLED-NORMAL</dt>
                            <dd class="tsd_3"><span class="typeSpan">-</span></dd>
                            <dt>DISABLED-FOCUSED</dt>
                            <dd class="tsd_4"><span class="typeSpan">-</span></dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type3">T2</span> TITLE 2 <span class="tsd_r">( R_BLACKTEXT_TITLE2 )</span></dt>
                        <dd class="type30 tsdNum5">
                          <dl class="tsd_in">
                            <dt>NORMAL</dt>
                            <dd class="tsd_1 col555 ss600">SamsungOne600, 30px, #555555, 100%</dd>
                            <dt>FOCUSED</dt>
                            <dd class="tsd_2 ss600 type36">SamsungOne600, 36px, #111111, 100%</dd>
                            <dt>SELECTED</dt>
                            <dd class="tsd_2 ss600 type33">SamsungOne600, 33px, #111111, 100%</dd>
                            <dt>DISABLED-NORMAL</dt>
                            <dd class="tsd_3 col555 opct20 ss600">SamsungOne600, 30px, #555555, 20%</dd>
                            <dt>DISABLED-FOCUSED</dt>
                            <dd class="tsd_4 opct20 ss600">SamsungOne600, 30px, #111111, 20%</dd>
                          </dl>
                          <div class="typeInfo_txt"><span class="col_ora">*</span>Do not change font color for selected status.</div>
                        </dd>
                        <dt><span class="tsdNum type3">T2</span> TITLE 2 <span class="tsd_r">( R_WHITETEXT_TITLE2 )</span></dt>
                        <dd class="type30 tsdNum5 whiteText">
                          <dl class="tsd_in">
                            <dt>NORMAL</dt>
                            <dd class="tsd_1 col_b2 ss600">SamsungOne600, 30px, #b2b2b2, 100%</dd>
                            <dt>FOCUSED</dt>
                            <dd class="tsd_2 ss600 col_ed type36">SamsungOne600, 36px, #ededed, 100%</dd>
                            <dt>SELECTED</dt>
                            <dd class="tsd_2 ss600 col_ed type33">SamsungOne600, 33px, #ededed, 100%</dd>
                            <dt>DISABLED-NORMAL</dt>
                            <dd class="tsd_3 col_b2 opct20 ss600">SamsungOne600, 30px, #b2b2b2, 20%</dd>
                            <dt>DISABLED-FOCUSED</dt>
                            <dd class="tsd_4 opct20 ss600 col_ed">SamsungOne600, 30px, #ededed, 20%</dd>
                          </dl>
                          <div class="typeInfo_txt"><span class="col_ora">*</span>Do not change font color for selected status.</div>
                        </dd>
                        <dt><span class="tsdNum type4">B1</span> BODY 1 <span class="tsd_r">( R_BLACKTEXT_BODY1 )</span></dt>
                        <dd class="type30 tsdNum6">
                          <dl class="tsd_in">
                            <dt>NORMAL</dt>
                            <dd class="tsd_1 col555">SamsungOne400, 30px, #555555, 100%</dd>
                            <dt>FOCUSED</dt>
                            <dd class="tsd_2 type36">SamsungOne400, 36px, #111111, 100%</dd>
                            <dt>SELECTED</dt>
                            <dd class="tsd_2 type33">SamsungOne400, 33px, #111111, 100%</dd>
                            <dt>DISABLED-NORMAL</dt>
                            <dd class="tsd_3 opct20 col555 ss600">SamsungOne600, 30px, #555555, 20%</dd>
                            <dt>DISABLED-FOCUSED</dt>
                            <dd class="tsd_4 opct20 ss600">SamsungOne600, 30px, #111111, 20%</dd>
                          </dl>
                          <div class="typeInfo_txt"><span class="col_ora">*</span>Do not change font color for selected status.</div>
                        </dd>
                        <dt><span class="tsdNum type4">B1</span> BODY 1 <span class="tsd_r">( R_WHITETEXT_BODY1 )</span></dt>
                        <dd class="type30 tsdNum6 whiteText">
                          <dl class="tsd_in">
                            <dt>NORMAL</dt>
                            <dd class="tsd_1">SamsungOne400, 30px, #b2b2b2, 100%</dd>
                            <dt>FOCUSED</dt>
                            <dd class="tsd_2 col_ed type36">SamsungOne400, 36px, #ededed, 100%</dd>
                            <dt>SELECTED</dt>
                            <dd class="tsd_2 col_ed type33">SamsungOne400, 33px, #ededed, 100%</dd>
                            <dt>DISABLED-NORMAL</dt>
                            <dd class="tsd_3 opct20 ss600">SamsungOne600, 30px, #b2b2b2, 20%</dd>
                            <dt>DISABLED-FOCUSED</dt>
                            <dd class="tsd_4 opct20 ss600 col_ed">SamsungOne600, 30px, #ededed, 20%</dd>
                          </dl>
                          <div class="typeInfo_txt"><span class="col_ora">*</span>Do not change font color for selected status.</div>
                        </dd>
                        <dt><span class="tsdNum type5">B2</span> BODY 2 <span class="tsd_r">( R_BLACKTEXT_BODY2 )</span></dt>
                        <dd class="type24 tsdNum7">
                          <dl class="tsd_in">
                            <dt>NORMAL</dt>
                            <dd class="tsd_1 col555 opct90">SamsungOne400, 24px, #555555, 90%</dd>
                            <dt>FOCUSED</dt>
                            <dd class="tsd_2 opct90 type28">SamsungOne400, 28px, #111111, 90%</dd>
                            <dt>SELECTED</dt>
                            <dd class="tsd_2 opct90 type26">SamsungOne400, 26px, #111111, 90%</dd>
                            <dt>DISABLED-NORMAL</dt>
                            <dd class="tsd_3 col555 opct20">SamsungOne400, 24px, #555555, 20%</dd>
                            <dt>DISABLED-FOCUSED</dt>
                            <dd class="tsd_4 opct20">SamsungOne400, 24px, #111111, 20%</dd>
                          </dl>
                          <div class="typeInfo_txt"><span class="col_ora">*</span>Do not change font color for selected status.</div>
                        </dd>
                        <dt><span class="tsdNum type5">B2</span> BODY 2 <span class="tsd_r">( R_WHITETEXT_BODY2 )</span></dt>
                        <dd class="type24 tsdNum7 whiteText">
                          <dl class="tsd_in">
                            <dt>NORMAL</dt>
                            <dd class="tsd_1  opct90">SamsungOne400, 24px, #b2b2b2, 90%</dd>
                            <dt>FOCUSED</dt>
                            <dd class="tsd_2 opct90 col_ed type28">SamsungOne400, 28px, #ededed, 90%</dd>
                            <dt>SELECTED</dt>
                            <dd class="tsd_2 opct90 col_ed type26">SamsungOne400, 26px, #ededed, 90%</dd>
                            <dt>DISABLED-NORMAL</dt>
                            <dd class="tsd_3  opct20">SamsungOne400, 24px, #b2b2b2, 20%</dd>
                            <dt>DISABLED-FOCUSED</dt>
                            <dd class="tsd_4 opct20 col_ed">SamsungOne400, 24px, #ededed, 20%</dd>
                          </dl>
                          <div class="typeInfo_txt"><span class="col_ora">*</span>Do not change font color for selected status.</div>
                        </dd>
                        <dt><span class="tsdNum type9">B3</span> BODY 3 <span class="tsd_r">( R_BLACKTEXT_BODY3 )</span></dt>
                        <dd class="type24 tsdNum7">
                          <dl class="tsd_in">
                            <dt>NORMAL</dt>
                            <dd class="tsd_1 col555 opct90">SamsungOne400, 24px, #555555, 90%</dd>
                            <dt>FOCUSED</dt>
                            <dd class="tsd_2 opct90 type28">SamsungOne400, 28px, #111111, 90%</dd>
                            <dt>SELECTED</dt>
                            <dd class="tsd_2 opct90 type26">SamsungOne400, 26px, #111111, 90%</dd>
                            <dt>DISABLED-NORMAL</dt>
                            <dd class="tsd_3 col555 opct20">SamsungOne400, 24px, #555555, 20%</dd>
                            <dt>DISABLED-FOCUSED</dt>
                            <dd class="tsd_4 opct20">SamsungOne400, 24px, #111111, 20%</dd>
                          </dl>
                          <div class="typeInfo_txt"><span class="col_ora">*</span>Do not change font color for selected status.</div>
                        </dd>
                        <dt><span class="tsdNum type9">B3</span> BODY 3 <span class="tsd_r">( R_WHITETEXT_BODY3 )</span></dt>
                        <dd class="type24 tsdNum7 whiteText">
                          <dl class="tsd_in">
                            <dt>NORMAL</dt>
                            <dd class="tsd_1  opct90">SamsungOne400, 24px, #b2b2b2, 90%</dd>
                            <dt>FOCUSED</dt>
                            <dd class="tsd_2 opct90 col_ed type28">SamsungOne400, 28px, #ededed, 90%</dd>
                            <dt>SELECTED</dt>
                            <dd class="tsd_2 opct90 col_ed type26">SamsungOne400, 26px, #ededed, 90%</dd>
                            <dt>DISABLED-NORMAL</dt>
                            <dd class="tsd_3  opct20">SamsungOne400, 24px, #b2b2b2, 20%</dd>
                            <dt>DISABLED-FOCUSED</dt>
                            <dd class="tsd_4 opct20 col_ed">SamsungOne400, 24px, #ededed, 20%</dd>
                          </dl>
                          <div class="typeInfo_txt"><span class="col_ora">*</span>Do not change font color for selected status.</div>
                        </dd>
                        <dt><span class="tsdNum type6">C1</span> CALLOUT 1 <span class="tsd_r">( R_BLACKTEXT_CALLOUT1 )</span></dt>
                        <dd class="type26 tsdNum8">
                          <dl class="tsd_in">
                            <dt>NORMAL</dt>
                            <dd class="tsd_1 col46 ss600">SamsungOne600, 26px, #464646, 100%</dd>
                            <dt>FOCUSED</dt>
                            <dd class="tsd_2 ss600 type32">SamsungOne600, 32px, #111111, 100%</dd>
                            <dt>SELECTED</dt>
                            <dd class="tsd_2 ss600 type28">SamsungOne600, 28px, #111111, 100%</dd>
                            <dt>DISABLED-NORMAL</dt>
                            <dd class="tsd_3 ss600 col46 opct20">SamsungOne600, 26px, #464646, 20%</dd>
                            <dt>DISABLED-FOCUSED</dt>
                            <dd class="tsd_4 ss600 opct20">SamsungOne600, 26px, #111111, 20%</dd>
                          </dl>
                          <div class="typeInfo_txt"><span class="col_ora">*</span>Do not change font color for selected status.</div>
                        </dd>
                        <dt><span class="tsdNum type6">C1</span> CALLOUT 1 <span class="tsd_r">( R_WHITETEXT_CALLOUT1 )</span></dt>
                        <dd class="type26 tsdNum8 whiteText">
                          <dl class="tsd_in">
                            <dt>NORMAL</dt>
                            <dd class="tsd_1 col_c2 ss600">SamsungOne600, 26px, #c2c2c2, 100%</dd>
                            <dt>FOCUSED</dt>
                            <dd class="tsd_2 ss600 col_ed type32">SamsungOne600, 32px, #ededed, 100%</dd>
                            <dt>SELECTED</dt>
                            <dd class="tsd_2 ss600 col_ed type28">SamsungOne600, 28px, #ededed, 100%</dd>
                            <dt>DISABLED-NORMAL</dt>
                            <dd class="tsd_3 ss600 col_c2 opct20">SamsungOne600, 26px, #c2c2c2, 20%</dd>
                            <dt>DISABLED-FOCUSED</dt>
                            <dd class="tsd_4 ss600 opct20 col_ed">SamsungOne600, 26px, #ededed, 20%</dd>
                          </dl>
                          <div class="typeInfo_txt"><span class="col_ora">*</span>Do not change font color for selected status.</div>
                        </dd>
                        <dt><span class="tsdNum type7">C2</span> CALLOUT 2 <span class="tsd_r">( R_BLACKTEXT_CALLOUT2 )</span></dt>
                        <dd class="type22 tsdNum9">
                          <dl class="tsd_in">
                            <dt>NORMAL</dt>
                            <dd class="tsd_1 col46 opct90">SamsungOne400, 22px, #464646, 90%</dd>
                            <dt>FOCUSED</dt>
                            <dd class="tsd_2 opct90 type26">SamsungOne400, 26px, #111111, 90%</dd>
                            <dt>SELECTED</dt>
                            <dd class="tsd_2 opct90 type24">SamsungOne400, 24px, #111111, 90%</dd>
                            <dt>DISABLED-NORMAL</dt>
                            <dd class="tsd_3 col46 opct20">SamsungOne400, 22px, #464646, 20%</dd>
                            <dt>DISABLED-FOCUSED</dt>
                            <dd class="tsd_4 opct20">SamsungOne400, 22px, #111111, 20%</dd>
                          </dl>
                          <div class="typeInfo_txt"><span class="col_ora">*</span>Do not change font color for selected status.</div>
                        </dd>
                        <dt><span class="tsdNum type7">C2</span> CALLOUT 2 <span class="tsd_r">( R_WHITETEXT_CALLOUT2 )</span></dt>
                        <dd class="type22 tsdNum9 whiteText">
                          <dl class="tsd_in">
                            <dt>NORMAL</dt>
                            <dd class="tsd_1 col_c2 opct90">SamsungOne400, 22px, #c2c2c2, 90%</dd>
                            <dt>FOCUSED</dt>
                            <dd class="tsd_2 opct90 col_ed type26">SamsungOne400, 26px, #ededed, 90%</dd>
                            <dt>SELECTED</dt>
                            <dd class="tsd_2 opct90 col_ed type24">SamsungOne400, 24px, #ededed, 90%</dd>
                            <dt>DISABLED-NORMAL</dt>
                            <dd class="tsd_3 col_c2 opct20">SamsungOne400, 22px, #c2c2c2, 20%</dd>
                            <dt>DISABLED-FOCUSED</dt>
                            <dd class="tsd_4 opct20 col_ed">SamsungOne400, 22px, #ededed, 20%</dd>
                          </dl>
                          <div class="typeInfo_txt"><span class="col_ora">*</span>Do not change font color for selected status.</div>
                        </dd>
                        <dt><span class="tsdNum type8">Ca</span> CAPTION <span class="tsd_r">( R_BLACKTEXT_CAPTION )</span></dt>
                        <dd class="type20 tsdNum10">
                          <dl class="tsd_in">
                            <dt>NORMAL</dt>
                            <dd class="tsd_1 col555 opct80">SamsungOne400, 20px, #555555, 80%</dd>
                            <dt>FOCUSED</dt>
                            <dd class="tsd_2"><span class="typeSpan">-</span></dd>
                            <dt>DISABLED-NORMAL</dt>
                            <dd class="tsd_3"><span class="typeSpan">-</span></dd>
                            <dt>DISABLED-FOCUSED</dt>
                            <dd class="tsd_4"><span class="typeSpan">-</span></dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type8">Ca</span> CAPTION <span class="tsd_r">( R_WHITETEXT_CAPTION )</span></dt>
                        <dd class="type20 tsdNum10 whiteText">
                          <dl class="tsd_in">
                            <dt>NORMAL</dt>
                            <dd class="tsd_1 opct80">SamsungOne400, 20px, #b2b2b2, 80%</dd>
                            <dt>FOCUSED</dt>
                            <dd class="tsd_2"><span class="typeSpan">-</span></dd>
                            <dt>DISABLED-NORMAL</dt>
                            <dd class="tsd_3"><span class="typeSpan">-</span></dd>
                            <dt>DISABLED-FOCUSED</dt>
                            <dd class="tsd_4"><span class="typeSpan">-</span></dd>
                          </dl>
                        </dd>
                      </dl>
                    </li>
                    <!--  -->
                    <li>
                      <dl class="typeStyleDetail type2">
                        <dt><span class="tsdNum">D</span> DISPLAY <span class="tsd_r">( R_BLACKTEXT_DISPLAY )</span></dt>
                        <dd class="type74 tsdNum1">
                          <dl class="tsd_in">
                            <dd class="tsd_1">SOne400, 74px, #111111, 100%</dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum">D</span> DISPLAY <span class="tsd_r">( R_WHITETEXT_DISPLAY )</span></dt>
                        <dd class="type74 whiteText">
                          <dl class="tsd_in">
                            <dd class="tsd_1 col_ed ">SOne400, 74px, #ededed, 100%</dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type2">H1</span> HEADLINE 1 <span class="tsd_r">( R_BLACKTEXT_HEADLINE1 )</span></dt>
                        <dd class="type52 tsdNum2">
                          <dl class="tsd_in">
                            <dd class="tsd_1 col555 opct70">SamsungOne400, 52px, #555555, 70%</dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type2">H1</span> HEADLINE 1 <span class="tsd_r">( R_WHITETEXT_HEADLINE1 )</span></dt>
                        <dd class="type52 tsdNum2 whiteText">
                          <dl class="tsd_in">
                            <dd class="tsd_1 col_b2 opct70 ">SamsungOne400, 52px, #b2b2b2, 70%</dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type2">H2</span> HEADLINE 2 <span class="tsd_r">( R_BLACKTEXT_HEADLINE2 )</span></dt>
                        <dd class="type46 tsdNum3">
                          <dl class="tsd_in">
                            <dd class="tsd_1 col555 opct70">SamsungOne400, 46px, #555555, 70%</dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type2">H2</span> HEADLINE 2 <span class="tsd_r">( R_WHITETEXT_HEADLINE2 )</span></dt>
                        <dd class="type46 tsdNum3 whiteText">
                          <dl class="tsd_in">
                            <dd class="tsd_1 col_b2 opct70 ">SamsungOne400, 46px, #b2b2b2, 70%</dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type3">T1</span> TITLE 1 <span class="tsd_r">( R_BLACKTEXT_TITLE1 )</span></dt>
                        <dd class="type52 tsdNum4">
                          <dl class="tsd_in">
                            <dd class="tsd_1 col111">SamsungOne400, 52px, #111111, 100%</dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type3">T1</span> TITLE 1 <span class="tsd_r">( R_WHITETEXT_TITLE1 )</span></dt>
                        <dd class="type52 tsdNum4 whiteText">
                          <dl class="tsd_in">
                            <dd class="tsd_1 col_ed ">SamsungOne400, 52px, #ededed, 100%</dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type3">T2</span> TITLE 2 <span class="tsd_r">( R_BLACKTEXT_TITLE2 )</span></dt>
                        <dd class="type30 tsdNum5">
                          <dl class="tsd_in">
                            <dd class="tsd_1 col555 ss600">SamsungOne600, 30px, #555555, 100%</dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type3">T2</span> TITLE 2 <span class="tsd_r">( R_WHITETEXT_TITLE2 )</span></dt>
                        <dd class="type30 tsdNum5 whiteText">
                          <dl class="tsd_in">
                            <dd class="tsd_1 col_b2 ss600">SamsungOne600, 30px, #b2b2b2, 100%</dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type4">B1</span> BODY 1 <span class="tsd_r">( R_BLACKTEXT_BODY1 )</span></dt>
                        <dd class="type30 tsdNum6">
                          <dl class="tsd_in">
                            <dd class="tsd_1 col555">SamsungOne400, 30px, #555555, 100%</dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type4">B1</span> BODY 1 <span class="tsd_r">( R_WHITETEXT_BODY1 )</span></dt>
                        <dd class="type30 tsdNum6 whiteText">
                          <dl class="tsd_in">
                            <dd class="tsd_1">SamsungOne400, 30px, #b2b2b2, 100%</dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type5">B2</span> BODY 2 <span class="tsd_r">( R_BLACKTEXT_BODY2 )</span></dt>
                        <dd class="type24 tsdNum7">
                          <dl class="tsd_in">
                            <dd class="tsd_1 col555 opct90">SamsungOne400, 24px, #555555, 90%</dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type5">B2</span> BODY 2 <span class="tsd_r">( R_WHITETEXT_BODY2 )</span></dt>
                        <dd class="type24 tsdNum7 whiteText">
                          <dl class="tsd_in">
                            <dd class="tsd_1  opct90">SamsungOne400, 24px, #b2b2b2, 90%</dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type9">B3</span> BODY 3 <span class="tsd_r">( R_BLACKTEXT_BODY3 )</span></dt>
                        <dd class="type24 tsdNum7">
                          <dl class="tsd_in">
                            <dd class="tsd_1 col555 opct90">SamsungOne400, 24px, #555555, 90%</dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type9">B3</span> BODY 3 <span class="tsd_r">( R_WHITETEXT_BODY3 )</span></dt>
                        <dd class="type24 tsdNum7 whiteText">
                          <dl class="tsd_in">
                            <dd class="tsd_1  opct90">SamsungOne400, 24px, #b2b2b2, 90%</dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type6">C1</span> CALLOUT 1 <span class="tsd_r">( R_BLACKTEXT_CALLOUT1 )</span></dt>
                        <dd class="type26 tsdNum8">
                          <dl class="tsd_in">
                            <dd class="tsd_1 col46 ss600">SamsungOne600, 26px, #464646, 100%</dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type6">C1</span> CALLOUT 1 <span class="tsd_r">( R_WHITETEXT_CALLOUT1 )</span></dt>
                        <dd class="type26 tsdNum8 whiteText">
                          <dl class="tsd_in">
                            <dd class="tsd_1 col_c2 ss600">SamsungOne600, 26px, #c2c2c2, 100%</dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type7">C2</span> CALLOUT 2 <span class="tsd_r">( R_BLACKTEXT_CALLOUT2 )</span></dt>
                        <dd class="type22 tsdNum9">
                          <dl class="tsd_in">
                            <dd class="tsd_1 col46 opct90">SamsungOne400, 22px, #464646, 90%</dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type7">C2</span> CALLOUT 2 <span class="tsd_r">( R_WHITETEXT_CALLOUT2 )</span></dt>
                        <dd class="type22 tsdNum9 whiteText">
                          <dl class="tsd_in">
                            <dd class="tsd_1 col_c2 opct90">SamsungOne400, 22px, #c2c2c2, 90%</dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type8">Ca</span> CAPTION <span class="tsd_r">( R_BLACKTEXT_CAPTION )</span></dt>
                        <dd class="type20 tsdNum10">
                          <dl class="tsd_in">
                            <dd class="tsd_1 col555 opct80">SamsungOne400, 20px, #555555, 80%</dd>
                          </dl>
                        </dd>
                        <dt><span class="tsdNum type8">Ca</span> CAPTION <span class="tsd_r">( R_WHITETEXT_CAPTION )</span></dt>
                        <dd class="type20 tsdNum10 whiteText">
                          <dl class="tsd_in">
                            <dd class="tsd_1 opct80">SamsungOne400, 20px, #b2b2b2, 80%</dd>
                          </dl>
                        </dd>
                      </dl>
                    </li>
                  </ul>
                </div>
              </dd>
            </dl>
            <div class="slideSection">
              <div class="flexslider">
                <ul class="slides">
                  <li>
                    <img src="../../img/visual_style/typography/slide01.png" />
                  </li>
                  <li>
                    <img src="../../img/visual_style/typography/slide02.png" />
                  </li>
                  <li>
                    <img src="../../img/visual_style/typography/slide03.png" />
                  </li>
                  <li>
                    <img src="../../img/visual_style/typography/slide04.png" />
                  </li>
                </ul>
              </div>
            </div>
          </dd>
          <dt>Leading</dt>
          <dd>
            <dl class="infoList_1 type2">
              <dt>Leading should be kept to 1.5x the font size. Apply defined leading when using size from the Font Size Set.</dt>
              <dd><img src="../../img/visual_style/typography/1.png" alt="">
              </dd>
            </dl>
          </dd>
          <dt>Color &amp; Contrast</dt>
          <dd>
            <dl class="infoList_1">
              <dt>Color</dt>
              <dd>
                <p>
                  All fonts are highly recommended to use the default color values. Under certain circumstances such as warning message and selected items, the defined colors down below can be applied.
                </p>
                <div class="typeColorBox">
                  <span class="col555">Normal Color #555555</span>
                  <br>
                  <span class="col111">Focused Color #111111</span>
                  <br>
                  <span class="col_208bbd">Point Color #208bbd</span>
                  <br>
                  <span class="col_f68602">Warning Color #f86900</span>
                </div>
              </dd>
              <dt>Contrast</dt>
              <dd>
                <p>
                  The legibility for the texts should be legible throughout.
                  <br> In order to maintain best legibility, the luminence on background color should be kept under 20%.
                  <br> Also, <span class="col_red">*</span>contrast ratio between text and background color (contrast ratio) should be greater than 3:1.
                </p>
                <div class="exDiv">
                  <span class="exStar">*</span>Following the International ISO standards
                  <br> A contrast ratio of 3:1 is the minimum level recommended by [ISO-9241-3] and [ANSI-HFES-100-1988] for standard text and vision.
                </div>
              </dd>
            </dl>
          </dd>
          <dt>Text Sliding</dt>
          <dd>
            <dl class="infoList_1">
              <dt>Sliding</dt>
              <dd>
                <p>
                  For texts that go over the designated length area within items, apply gradient masking for normal status.
                  <br> For focused status, slide 50px per second after the item has been on focus for 1 second.
                </p>
                <video controls loop>
                  <source src="../../resources/video/visual_style/typo/TextMaskingSliding.mp4" type="video/mp4"> Your browser does not support the video tag.</video>
              </dd>
            </dl>
          </dd>
          <dt>Text Align</dt>
          <dd>
            <p>
              For Title Text, Partial UI ones are applied with center alignment and left alignment for Full UI titles.
              <br> Rest of the text follows left alignment unless mentioned otherwise specifically.
              <br> For Popup, the Message Popup follows rule where single-text is with center alignment and for texts with 2 or more lines, apply the left alignment rule.
            </p>
            <dl class="infoList_1">
              <dt>
                Title
              </dt>
              <dd>
                <div style="max-width: 1000px;">
                  <ul class="grid_half clfix">
                    <li>
                      <dl class="img_info">
                        <dt><img src="../../img/visual_style/typography/3.png" alt=""></dt>
                        <dd><strong class="col000">Partial UI Title</strong> : Center Align</dd>
                      </dl>
                    </li>
                    <li>
                      <dl class="img_info">
                        <dt><img src="../../img/visual_style/typography/4.png" alt=""></dt>
                        <dd><strong class="col000">Full UI Title</strong> : Left Align</dd>
                      </dl>
                    </li>
                  </ul>
                </div>
              </dd>
              <dt>
                Contents
              </dt>
              <dd>
                <div style="max-width: 1000px;">
                <ul class="grid_half clfix">
                  <li>
                    <dl class="img_info">
                      <dt><img src="../../img/visual_style/typography/5.png" alt=""></dt>
                      <dd><strong class="col000">List</strong> : Center Align</dd>
                    </dl>
                  </li>
                  <li>
                    <dl class="img_info">
                      <dt><img src="../../img/visual_style/typography/6.png" alt=""></dt>
                      <dd><strong class="col000">List</strong> : Left Align</dd>
                    </dl>
                  </li>
                  <li>
                    <dl class="img_info">
                      <dt><img src="../../img/visual_style/typography/7.png" alt=""></dt>
                      <dd><strong class="col000">Message Popup text single line</strong> : Center Align</dd>
                    </dl>
                  </li>
                  <li>
                    <dl class="img_info">
                      <dt><img src="../../img/visual_style/typography/8.png" alt=""></dt>
                      <dd><strong class="col000">Message Popup text single line</strong> : Left Align</dd>
                    </dl>
                  </li>
                </ul>
                </div>
              </dd>
              <dt>
                Icon
              </dt>
              <dd>
                <p>
                  For cases where icon and text are used together, if text is placed on either left or right side of the icon, apply left alignment.
                  <br> For texts placed either on top or bottom of the icon, apply center alignment rule.
                </p>
                <div style="max-width: 1000px;">
                <ul class="grid_half clfix">
                  <li>
                    <dl class="img_info">
                      <dt><img src="../../img/visual_style/typography/9.png" alt=""></dt>
                      <dd><strong class="col000">Text is placed on either left or right side</strong> : Center Align</dd>
                    </dl>
                  </li>
                  <li>
                    <dl class="img_info">
                      <dt><img src="../../img/visual_style/typography/10.png" alt=""></dt>
                      <dd><strong class="col000">Texts placed either on top or bottom</strong> : Left Align</dd>
                    </dl>
                  </li>
                </ul>
                </div>
              </dd>
            </dl>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <!-- //#typography.showCon -->
  <!--[if lt IE 9]>
    <script src="../../javascript/placeholders.min.js"></script>
  <![endif]-->
  <div class="topIcon"></div>
</body>

</html>
