<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
  <title>TV Principle</title>
  <link rel="stylesheet" href="../../css/basic.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/flexslider.css">
  <script src="../../javascript/jquery-1.8.3.min.js"></script>
  <script src="../../javascript/jquery.flexslider-min.js"></script>
  <script>
  var jqv = jQuery.noConflict();
  window.parent.menuReCall("dep6_26");
  </script>
  <script src="../../javascript/sub_jquery.js"></script>
  <script src="../../javascript/placeholders.min.js"></script>
  <!--[if lt IE 9]>
    <script src="../../javascript/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <!-- #previewpane -->
  <div id="previewpane" class="showCon tabActive displayBlock">
    <div class="conTop">
      <h2>Date & Time Info</h2>
      <div class="tabBoxWrap">
        <ul class="tabBox clfix">
          <li><a href="">Definition</a></li>
          <li><a href="">Usage</a></li>
          <li><a href="">Specs</a></li>
        </ul>
      </div>
    </div>
    <!-- //.conTop -->
    <div class="conBottom">
      <div class="conBottomInner">
        <div class="subConInTit">
          C_DATETIMEINFO
        </div>
        <dl class="infoList tabList type2">
          <dt>Definition</dt>
          <dd>
            Date & Time Information is used to present time and date information on screen.
          </dd>
          <dt>Usage</dt>
          <dd searchWord="C_DATETIMEINFO">
            <ul class="indentList">
              <li>- Follow the standard date format used in each respective country.</li>
              <li>- Display dates with two or more elements of year, month, date, and day of the week.</li>
              <li>- Display times in a 24-hour or 12-hour format.</li>
              <li>- When presenting both the time and date on one screen, place the date before the time.</li>
              <li>- Each guide conforms to the American date format.</li>
            </ul>
            <ul class="inlineList">
              <li><img src="../../img/components/datetimeinfo/4.png" alt="" class="searchImg"></li><li><img src="../../img/components/datetimeinfo/5.png" alt=""></li>
            </ul>
          </dd>
          <dt>Specs</dt>
          <dd>
            <dl class="infoList_1">
              <dt>Properties</dt>
              <dd>
                <dl class="infoList_1 type2 type5">
                  <dt>Date & Time Information consists of the following elements:</dt>
                  <dd>
                    <dl class="infoList_1_1">
                      <dt>1. Year (<span class="col_blue">Optional</span>)</dt>
                      <dt>2. Month (<span class="col_blue">Optional</span>)</dt>
                      <dt>3. Date (<span class="col_blue">Optional</span>)</dt>
                      <dt>4. Day of the week (<span class="col_blue">Optional</span>)</dt>
                      <dt>5. Time (<span class="col_blue">Optional</span>)</dt>
                      <dd>
                        <ul class="indentList">
                          <li>- In case of 12-hour format, display time with am/pm or 오전/오후 in each respective country.</li>
                        </ul>
                      </dd>
                    </dl>
                    <ul class="listStyle02">
                      <li><img src="../../img/components/datetimeinfo/2.png" alt=""></li>
                    </ul>
                  </dd>
                </dl>
              </dd>
              <dt>Property Table</dt>
              <dd>
                <table class="propertyTbl">
                  <colgroup>
                    <col width="25%">
                    <col width="15%">
                    <col>
                  </colgroup>
                  <tbody>
                    <tr>
                      <th class="propertyTblTit" scope="col" colspan="3">C_DATETIMEINFO</th>
                    </tr>
                    <tr>
                      <th scope="col">
                        PROPERTY
                      </th>
                      <th scope="col">
                        USE
                      </th>
                      <th scope="col">
                        VALUE
                      </th>
                    </tr>
                    <tr>
                      <td>Year</td>
                      <td></td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>Month</td>
                      <td></td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>Date</td>
                      <td></td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>Day of the week</td>
                      <td></td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>Time</td>
                      <td></td>
                      <td>-</td>
                    </tr>
                  </tbody>
                </table>
              </dd>
              <dt>Visual</dt>
              <dd>
                <div class="smallTag">C_DATETIMEINFO</div>
                <img src="../../img/tbd02.png" alt="">
              </dd>
            </dl>
          </dd>
        </dl>
        <dl class="tagDl">
          <dt>*Tags :</dt>
          <dd>
            <span class="tagItem" linktag="dep9_3_1">Date Picker</span>,
            <span class="tagItem" linktag="dep9_3_2">Time Picker</span>
          </dd>
        </dl>
      </div>
    </div>
    <!-- //.conBottom -->
  </div>
  <!-- //#previewpane.showCon -->
  <!--[if lt IE 9]>
    <script src="../../javascript/placeholders.min.js"></script>
  <![endif]-->
  <div class="topIcon"></div>
</body>

</html>
