<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
  <title>TV Principle</title>
  <link rel="stylesheet" href="../../css/basic.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/flexslider.css">
  <script src="../../javascript/jquery-1.8.3.min.js"></script>
  <script src="../../javascript/jquery.flexslider-min.js"></script>
  <script>
  var jqv = jQuery.noConflict();
  window.parent.menuReCall("dep6_5");
  </script>
  <script src="../../javascript/sub_jquery.js"></script>
  <script src="../../javascript/placeholders.min.js"></script>
  <!--[if lt IE 9]>
    <script src="../../javascript/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <!-- #grid -->
  <div id="grid" class="showCon tabActive displayBlock">
    <div class="conTop">
      <h2>GRID</h2>
      <div class="tabBoxWrap">
        <ul class="tabBox clfix">
          <li><a href="">Definition</a></li>
          <li><a href="">Usage</a></li>
          <li><a href="">Interaction</a></li>
          <li><a href="">Specs</a></li>
        </ul>
      </div>
    </div>
    <!-- //.conTop -->
    <div class="conBottom">
      <div class="conBottomInner">
        <div class="subConInTit">
          C_GRID
        </div>
        <dl class="infoList tabList type2">
          <dt>Definition</dt>
          <dd>
            <p>
              Grid lists present list items as combination of mulipie rows and columns. (MxN)
            </p>
          </dd>
          <dt>Usage</dt>
          <dd searchWord="C_GRID">
            <img src="../../img/components/grid/1.png" alt="">
            <ul class="indentList">
              <li>- You can create a grid that is composed of tiles with the same properties.</li>
              <li>- Tiles with different properites should not be mixed.</li>
            </ul>
            <ul class="listStyle02">
              <li><img src="../../img/components/grid/6.png" alt="" class="searchImg"></li>
            </ul>
          </dd>
          <dt>Interaction</dt>
          <dd>
            <dl class="infoList_1 type2">
              <dt>The following rules are applied when the last item is missing in a list.</dt>
              <dd>
                <img src="../../img/components/grid/img02.png" alt="">
              </dd>
            </dl>
          </dd>
          <dt>Specs</dt>
          <dd>
            <dl class="infoList_1">
              <dt>Properties</dt>
              <dd>
                <dl class="infoList_1 type2 type5">
                  <dt>Grid consists of the following elements :</dt>
                  <dd>
                    <dl class="infoList_1_1">
                      <dt>1. Item type (<span class="col_ora">Mandatory</span>)</dt>
                      <dt>2. Selection icon (<span class="col_blue">Optional</span>)</dt>
                    </dl>
                    <ul class="listStyle02">
                      <li><img src="../../img/components/grid/4.png" alt=""></li>
                    </ul>
                  </dd>
                </dl>
              </dd>
              <dt>Property Table</dt>
              <dd>
                <table class="propertyTbl">
                  <colgroup>
                    <col width="25%">
                    <col width="15%">
                    <col>
                  </colgroup>
                  <tbody>
                    <tr>
                      <th class="propertyTblTit" scope="col" colspan="3">&lt;&lt; PATTERN NAME &gt;&gt;</th>
                    </tr>
                    <tr>
                      <th scope="col">
                        PROPERTY
                      </th>
                      <th scope="col">
                        USE
                      </th>
                      <th scope="col">
                        VALUE
                      </th>
                    </tr>
                    <tr>
                      <td>Item type</td>
                      <td><span class="textO">◎</span></td>
                      <td>&lt;&lt;Type the component name&gt;&gt;</td>
                    </tr>
                    <tr>
                      <td>Selection icon</td>
                      <td></td>
                      <td><a class="tagItem" href="javascript:parent.parentLocationChg('components/selection/checkbox')">C_CHECKBOX</a> / Check mark(v)</td>
                    </tr>
                    <tr>
                      <th scope="col">
                        FEATURE
                      </th>
                      <th colspan="2" scope="col">
                        DESCRIPTION
                      </th>
                    </tr>
                    <tr>
                      <td>Scroll direction</td>
                      <td colspan="2">Vertical/Horizontal</td>
                    </tr>
                    <tr>
                      <td>Default sort order</td>
                      <td colspan="2">&lt;&lt;Describe the sort order&gt;&gt;</td>
                    </tr>
                  </tbody>
                </table>
              </dd>
              <dt>Visual</dt>
              <dd>
                <div class="smallTag">C_GRID</div>
                <img src="../../img/tbd02.png" alt="">
              </dd>
            </dl>
          </dd>
        </dl>
        <dl class="tagDl">
          <dt>*Tags :</dt>
          <dd>
            <span class="tagItem" linkTag="dep6_25_1">Image Item</span>,
            <span class="tagItem" linkTag="dep6_8_1">Basic List</span>,
            <span class="tagItem" linkTag="dep6_13">Scroll Bar</span>
          </dd>
        </dl>
      </div>
    </div>
    <!-- //.conBottom -->
  </div>
  <!-- //#grid.showCon -->
  <!--[if lt IE 9]>
    <script src="../../javascript/placeholders.min.js"></script>
  <![endif]-->
  <div class="topIcon"></div>
</body>

</html>
