<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
  <title>TV Principle</title>
  <link rel="stylesheet" href="../../css/basic.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/flexslider.css">
  <script src="../../javascript/jquery-1.8.3.min.js"></script>
  <script src="../../javascript/jquery.flexslider-min.js"></script>
  <script>
    var jqv = jQuery.noConflict();
    window.parent.menuReCall("dep6_19");
  </script>
  <script src="../../javascript/sub_jquery.js"></script>
  <script src="../../javascript/placeholders.min.js"></script>
  <!--[if lt IE 9]>
    <script src="../../javascript/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- #tab -->
    <div id="tab" class="showCon">
      <div class="conTop">
        <h2>Tab</h2>
        <div class="tabBoxWrap">
          <ul class="tabBox clfix">
            <li><a href="">Definition</a></li>
            <li><a href="">Usage</a></li>
            <li><a href="">Interaction</a></li>
            <li><a href="">Specs</a></li>
          </ul>
        </div>
      </div>
      <!-- //.conTop -->
      <div class="conBottom">
        <div class="conBottomInner">
          <div class="subConInTit">
            C_TAB
          </div>
          <dl class="infoList tabList type2">
            <dt>Definition</dt>
            <dd>
              <p>
                Tab makes it easy to explore and switch between different views or functional aspects of an app or to browe categorized data sets.
              </p>
            </dd>
            <dt>Usage</dt>
            <dd searchWord="C_TAB">
              <p>
                Each tab should contain the same type of content and must not contain different kinds of content in the same tab.
              </p>
              <ul class="listStyle02 type1">
                <li><img src="../../img/components/tab/3_1.png" alt="" class="searchImg"></li>
                <li><img src="../../img/components/tab/3_2.png" alt="" class="searchImg"></li>
              </ul>
              <ul class="indentList">
                <li>- Each tab should contain the same type of content and must not contain different kinds of content in the same tab.</li>
                <li>- Use a category tab to present grouped content on one screen.</li>
                <li>- Category tabs can be used in applications where users may want to quickly browse multiple types of content. </li>
              </ul>
            </dd>
            <dt>Interaction</dt>
            <dd>
              <dl class="infoList_1 type2">
                <dt>
                  <ul class="indentList type2">
                    <li>- One of the tabs must always be selected.</li>
                    <li>- Looping is not supported.</li>
                    <li>- When a certain tab is focused, the corresponding content should appear below.</li>
                    <li>- When there are more tabs that are not currently shown on the screen, part of the next tab must be shown to let users know more tabs are available.</li>
                  </ul>
                </dt>
              </dl>
            </dd>
            <dt>Specs</dt>
            <dd>
              <dl class="infoList_1">
                <dt>Properties</dt>
                <dd>
                  <dl class="infoList_1 type2 type5">
                    <dt>Tab consists of the following elements:</dt>
                    <dd>
                      <dl class="infoList_1_1">
                        <dt>1. Icon (<span class="col_blue">Optional</span>)</dt>
                        <dt>2. Text (<span class="col_blue">Optional</span>)</dt>
                      </dl>
                      <ul class="listStyle02">
                        <li><img src="../../img/components/tab/component_tab_specs_properties.png" alt=""></li>
                      </ul>
                    </dd>
                  </dl>
                </dd>
                <dt>Property Table</dt>
                <dd>
                  <table class="propertyTbl">
                    <colgroup>
                    <col width="25%">
                    <col width="15%">
                    <col>
                  </colgroup>
                  <tbody>
                    <tr>
                      <th class="propertyTblTit" scope="col" colspan="3">C_TAB</th>
                    </tr>
                    <tr>
                      <th scope="col">
                        PROPERTY
                      </th>
                      <th scope="col">
                        USE
                      </th>
                      <th scope="col">
                        VALUE
                      </th>
                    </tr>
                    <tr>
                      <td>Icon</td>
                      <td></td>
                      <td>&lt;&lt;value&gt;&gt;</td>
                    </tr>
                    <tr>
                      <td>Text</td>
                      <td><span class="textO">◎</span></td>
                      <td>
                        .[Item1]<br>
                        .[Item2]<br>
                        .[Item3]
                      </td>
                    </tr>
                    <tr>
                      <th scope="col">
                        FEATURE
                      </th>
                      <th scope="col" colspan="2">
                        DESCRIPTION
                      </th>
                    </tr>
                    <tr>
                      <td>Scroll direction</td>
                      <td colspan="2">Horizontal/Vertical</td>
                    </tr>
                  </tbody>
                </table>
              </dd>
              <dt>Visual</dt>
              <dd>
                <dl class="infoList_1 type2 type5">
                  <dt>GUI</dt>
                  <dd>
                    <dl class="visualTagList">
                      <dt>C_TAB</dt>
                      <dd><img src="../../img/components/tab/4.png" alt=""></dd>
                    </dl>
                  </dd>
                  <dt>Motion</dt>
                  <dd>
                    <dl class="visualTagList">
                      <dt>C_TAB</dt>
                      <dd><img src="../../img/components/tab/5.png" alt=""></dd>
                      <dd><img src="../../img/components/tab/6.png" alt=""></dd>
                    </dl>
                  </dd>
                </dl>
                <div class="visualImgTxt">
                  <img src="../../img/components/tab/7.png" alt="">
                  <div class="tempLinkBox">
                    LINK : <a href="javascript:parent.parentLocationChg('visual-style/highlight')">R_HIGHLIGHT</a>
                  </div>
                </div>
                <div class="visualImgTxt">
                  <img src="../../img/components/tab/8.png" alt="">
                </div>
              </dd>
            </dl>
          </dd>
        </dl>
        <!-- <dl class="tagDl">
          <dt>*Tags :</dt>
        </dl> -->
      </div>
    </div>
    <!-- //.conBottom -->
  </div>
  <!-- //#tab.showCon -->
  <!--[if lt IE 9]>
    <script src="../../javascript/placeholders.min.js"></script>
    <![endif]-->
    <div class="topIcon"></div>
  </body>

  </html>
