<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
  <title>TV Principle</title>
  <link rel="stylesheet" href="../../../css/basic.css">
  <link rel="stylesheet" href="../../../css/style.css">
  <link rel="stylesheet" href="../../../css/flexslider.css">
  <script src="../../../javascript/jquery-1.8.3.min.js"></script>
  <script src="../../../javascript/jquery.flexslider-min.js"></script>
  <script>
  var jqv = jQuery.noConflict();
  window.parent.menuReCall("dep6_14_1");
  </script>
  <script src="../../../javascript/sub_jquery.js"></script>
  <script src="../../../javascript/placeholders.min.js"></script>
  <!--[if lt IE 9]>
    <script src="../../../javascript/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <div id="checkbox" class="showCon">
    <div class="conTop">
      <h2>Checkbox</h2>
      <div class="tabBoxWrap">
        <ul class="tabBox clfix">
          <li><a href="">Definition</a></li>
          <li><a href="">Usage</a></li>
          <li><a href="">Interaction</a></li>
          <li><a href="">Specs</a></li>
        </ul>
      </div>
    </div>
    <!-- //.conTop -->
    <div class="conBottom">
      <div class="conBottomInner">
        <div class="subConInTit">
          C_CHECKBOX
        </div>
        <dl class="infoList tabList type2">
          <dt>Definition</dt>
          <dd>
            Checkboxes allow the user to select multiple options from a set.
            <br> You can also use a checkbox to toggle the selected state of a single item.
          </dd>
          <dt>Usage</dt>
          <dd searchWord="C_CHECKBOX">
            <ul class="indentList type2">
              <li>- Use a check box to allow users to select multiple options.</li>
              <li>- When check boxes are used, they should appear as boxes that show the selected state.</li>
              <li>- Place the boxes to the left of the check box labels in a text list or in the top-left corners of thumbnails in a grid list.</li>
              <li>- When a check box is selected, a check mark indicating the selected state should appear in the box.</li>
            </ul>
          </dd>
          <dt>Interaction</dt>
          <dd>
            <img src="../../../img/components/selection/checkbox/1.png" alt="">
          </dd>
          <dt>Specs</dt>
          <dd>
            <dl class="infoList_1">
              <dt>Properties</dt>
              <dd>
                <dl class="infoList_1 type2 type5">
                  <dt>A check box consists of the following elements:</dt>
                  <dd>
                    <dl class="infoList_1_1">
                      <dt>1. Box (<span class="col_ora">Mandatory</span>)</dt>
                      <dd>
                        <ul class="indentList">
                          <li>- Provide a visible box to let users know this control can be selected.</li>
                          <li>- Make a check box dimmed when it is unavailable or disabled.</li>
                        </ul>
                      </dd>
                      <dt>2. Check mark (<span class="col_ora">Mandatory</span>)</dt>
                      <dd>
                        <ul class="indentList">
                          <li>- Display a check mark in the box, when it is selected.</li>
                        </ul>
                      </dd>
                    </dl>
                  </dd>
                  <dt>Status</dt>
                  <dd>
                    <ul class="indentList">
                      <li>- A check box can switch between the following states:
                        <div class="textIndent0">
                          . Normal
                          <br> . Focused
                          <br> . Disabled
                          <br> . Disabled/Focused
                        </div>
                      </li>
                      <li>- When an item is disabled, the corresponding check box should appear dimmed to show the disabled state.</li>
                      <li>- Even though a disabled check box can be focused on, it cannot be selected. </li>
                    </ul>
                  </dd>
                </dl>
                <ul class="listStyle02">
                  <li><img src="../../../img/components/selection/checkbox/2.png" alt=""></li>
                </ul>
              </dd>
              <dt>Visual</dt>
              <dd>
                <dl class="infoList_1 type2 type5">
                  <dt>GUI</dt>
                  <dd>
                    <dl class="visualTagList">
                      <dt>C_CHECKBOX_WHITE</dt>
                      <dd><img src="../../../img/components/selection/checkbox/6.png" alt=""></dd>
                      <dt>C_CHECKBOX_WHITETEXT</dt>
                      <dd><img src="../../../img/components/selection/checkbox/7.png" alt=""></dd>
                    </dl>
                  </dd>
                  <dt>Motion</dt>
                  <dd>
                    <dl class="visualTagList">
                      <dt>C_CHECKBOX</dt>
                      <dd><img src="../../../img/components/selection/checkbox/8.png" alt=""></dd>
                      <dd><img src="../../../img/components/selection/checkbox/9.png" alt=""></dd>
                      <dt>C_CHECKBOX_TEXT</dt>
                      <dd><img src="../../../img/components/selection/checkbox/10.png" alt=""></dd>
                      <dd><img src="../../../img/components/selection/checkbox/11.png" alt=""></dd>
                      <dd><img src="../../../img/components/selection/checkbox/12.png" alt=""></dd>
                      <dd><img src="../../../img/components/selection/checkbox/13.png" alt=""></dd>
                    </dl>
                  </dd>
                </dl>
                <div class="visualImgTxt">
                  <img src="../../../img/components/selection/checkbox/5.png" alt="">
                </div>
                <div class="btn_box">
                  <a href="../../../resources/png/component/c_checkbox.zip" class="btn_download"><span>Download PNG Resources</span></a>
                </div>
              </dd>
            </dl>
          </dd>
        </dl>
        <dl class="tagDl">
          <dt>*Tags :</dt>
          <dd>
            <span class="tagItem" linkTag="dep6_14_2">Radio button</span>,
            <span class="tagItem" linkTag="dep6_18">Switch</span>,
            <span class="tagItem" linktag="dep6_8_1">Basic List</span>,
            <span class="tagItem" linkTag="dep6_5">Grid</span>
          </dd>
        </dl>
      </div>
    </div>
    <!-- //.conBottom -->
  </div>
  <!--[if lt IE 9]>
    <script src="../../../javascript/placeholders.min.js"></script>
  <![endif]-->
  <div class="topIcon"></div>
</body>

</html>
