<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
	<title>TV Principle</title>
	<link rel="stylesheet" href="../../../css/basic.css">
	<link rel="stylesheet" href="../../../css/style.css">
	<link rel="stylesheet" href="../../../css/flexslider.css">
	<script src="../../../javascript/jquery-1.8.3.min.js"></script>
	<script src="../../../javascript/jquery.flexslider-min.js"></script>
	<script>
	var jqv = jQuery.noConflict();
	window.parent.menuReCall("dep4_5_2");
	</script>
	<script src="../../../javascript/sub_jquery.js"></script>
	<script src="../../../javascript/placeholders.min.js"></script>
	<!--[if lt IE 9]>
		<script src="../../../javascript/html5shiv.js"></script>
	<![endif]-->
</head>

<body>
	<!-- #basicButton -->
	<div id="basicButton" class="showCon">
		<div class="conTop">
			<h2>Date & Time</h2>
			<div class="tabBoxWrap">
				<ul class="tabBox clfix">
					<li><a href="">Definition</a></li>
					<li><a href="">Usage</a></li>
				</ul>
			</div>
		</div>
		<!-- //.conTop -->
		<div class="conBottom">
			<div class="conBottomInner">
				<dl class="infoList tabList type2 noFunction">
					<dt>Definition</dt>
					<dd>
						<p>
							Use the Date and Time function to present time and date information.
						</p>
					</dd>
					<dt>Usage</dt>
					<dd>
						<p>
							Display date and time when users have to know about the current date and time while they’re using their apps or functions.
							<br> (**refer to <a class="col_green bbg" href="javascript:parent.parentLocationChg('components/date_timeinfo')">Date & Time Information</a> for displaying current date and time information)
							<br>
							<br> To help users recognize the time of events more intuitively, time information can be displayed in an abbreviated format.
							<br>
							<br> Use standard forms. When space is limited, use short forms.
						</p>
						<ul class="listStyle02">
							<li>
								<img src="../../../img/ui_strategy/di/dt/1.png" alt="">
								<div class="col_a3 font14">* Refer to <a class="col_green bbg" href="javascript:parent.parentLocationChg('components/date_timeinfo')">Date & Time Information</a> for &lt;&lt;Date&gt;&gt; in this document</div>
							</li>
						</ul>
					</dd>
				</dl>
				<dl class="tagDl">
					<dt>*Tags :</dt>
					<dd>
						<span class="tagItem" linkTag="dep6_26">Date & Time Information</span>
					</dd>
				</dl>
			</div>
		</div>
		<!-- //.conBottom -->
	</div>
	<!-- //#basicButton.showCon -->
	<!--[if lt IE 9]>
    <script src="../../../javascript/placeholders.min.js"></script>
  <![endif]-->
	<div class="topIcon"></div>
</body>

</html>
