<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
	<title>TV Principle</title>
	<link rel="stylesheet" href="../../../css/basic.css">
	<link rel="stylesheet" href="../../../css/style.css">
	<link rel="stylesheet" href="../../../css/flexslider.css">
	<script src="../../../javascript/jquery-1.8.3.min.js"></script>
	<script src="../../../javascript/jquery.flexslider-min.js"></script>
	<script>
		var jqv = jQuery.noConflict();
		window.parent.menuReCall("dep4_5_4");
	</script>
	<script src="../../../javascript/sub_jquery.js"></script>
	<script src="../../../javascript/placeholders.min.js"></script>
	<!--[if lt IE 9]>
		<script src="../../../javascript/html5shiv.js"></script>
	<![endif]-->
</head>

<body>
	<!-- #basicButton -->
	<div id="basicButton" class="showCon">
		<div class="conTop">
			<h2>Location</h2>
			<div class="tabBoxWrap">
				<ul class="tabBox clfix">
					<li><a href="">Definition</a></li>
					<li><a href="">Usage</a></li>
				</ul>
			</div>
		</div>
		<!-- //.conTop -->
		<div class="conBottom">
			<div class="conBottomInner">
				<dl class="infoList tabList type2 noFunction">
					<dt>Definition</dt>
					<dd>
						<p>
							Use the Location to give users information about the current location when a lower depth is accessed in the UI hierarchy.
						</p>
					</dd>
					<dt>Usage</dt>
					<dd>
						<p>
							Display the upper-level path and the current location.<br><br>

In case it is difficult to display the total path with the space constraint, omit from the topmost path in order.<br>
Replace the whole path to ellipsis (…) for the omitted path, and don’t display the part of the path.<br><br>

In case it cannot display the whole current location even though omitting the upper path, place the ellipsis (…) at the end of the current path.
						</p>
						<ul class="listStyle02">
							<li>
								<img src="../../../img/ui_strategy/di/location//1.png" alt="">
							</li>
						</ul>
					</dd>
				</dl>
			</div>
		</div>
		<!-- //.conBottom -->
	</div>
	<!-- //#basicButton.showCon -->

	<!--[if lt IE 9]>
    <script src="../../../javascript/placeholders.min.js"></script>
  <![endif]-->
	<div class="topIcon"></div>
</body>

</html>
