<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
  <title>TV Principle</title>
  <link rel="stylesheet" href="../../css/basic.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/flexslider.css">
  <script src="../../javascript/jquery-1.8.3.min.js"></script>
  <script src="../../javascript/jquery.flexslider-min.js"></script>
  <script>
  var jqv = jQuery.noConflict();
  window.parent.menuReCall("dep5_7");
  </script>
  <script src="../../javascript/sub_jquery.js"></script>
  <script src="../../javascript/placeholders.min.js"></script>
  <!--[if lt IE 9]>
    <script src="../../javascript/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <div id="layout04" class="showCon">
    <div class="conTop">
      <h2>Layout 04</h2>
      <div class="tabBoxWrap">
        <ul class="tabBox clfix">
          <li><a href="">Definition</a></li>
          <li><a href="">Specs</a></li>
          <li><a href="">Examples</a></li>
        </ul>
      </div>
    </div>
    <!-- //.conTop -->
    <div class="conBottom">
      <div class="conBottomInner">
        <dl class="infoList tabList noFunction">
          <dt>Definition</dt>
          <dd>
            Use Layout 04 to display groupings of related items, such as genres of movies or TV shows. View the list of groupings on the left, and focus on one to see its items on the right.
            <br> If the primary distinguishing content consists of text, use Layout 04.
            <br> Layout 04 is best suited to presenting a homogeneous data type or sets of data types, typically text, and is optimized for reading comprehension while differentiating either between similar data types, or qualities within a single data type.
          </dd>
          <dt>Specs</dt>
          <dd>
            <dl class="infoList_1">
              <dt>Properties</dt>
              <dd>
                <div class="typeTab">
                  <ul class="typeTabList clfix">
                    <li class="active"><a href="">Detail view</a></li>
                    <li><a href="">Simple view</a></li>
                  </ul>
                  <ul class="typeTabCon">
                    <li class="active">
                      <img src="../../img/layout/04/1.png" alt="">
                    </li>
                    <li>
                      <img src="../../img/layout/04/3.png" alt="">
                    </li>
                  </ul>
                </div>
              </dd>
              <dt>Note</dt>
              <dd>
                <ul class="indentList">
                  <li>1. Display the title that represents the current screen. In general, the title can be the name of an application, a device, and etc.</li>
                  <li>2. Display a list of items.</li>
                  <li>3. Text item used in Layout 04 should include a main text.</li>
                  <li>4. Each group of related items can have a title.</li>
                  <li>5. When the focus moves up and down, display the vertical scroll bar on the side of the screen.</li>
                  <li>6. Tabs enable content organization at a high level. Tab labels should succinctly describe the content within.</li>
                  <li>7. Buttons for functions that will affect to the currently selected tab can be located just below the current tab.</li>
                  <li>8. Display the image that describes the item currently focused.</li>
                  <li>9. Display the title of the item currently focused.</li>
                  <li>10. Display the subtitle of the item currently focused.</li>
                  <li>11. Display the description of the item currently focused.</li>
                  <li>12. Tabs enable content organization at a high level. Tab labels should succinctly describe the content within.</li>
                  <li>13. Buttons for functions that will affect to the whole screen can be located on this area. They should be composed of only a text.</li>
                </ul>
              </dd>
              <dt>Initial State</dt>
              <dd>
                <ul class="indentList">
                  <li>- The first tab is selected.</li>
                  <li>- The focus is on the first(top-left) item of the grid in the first(top) tab.</li>
                </ul>
              </dd>
              <dt>Layout Element Table</dt>
              <dd>
                <img src="../../img/layout/04/2.png" alt="">
                <div class="tempLinkBox">
                  LINK : <a href="javascript:parent.parentLocationChg('components/list/basicList')">C_LISTBASIC</a>, <a href="javascript:parent.parentLocationChg('components/item/textItem')">C_TEXTITEM</a>, <a href="javascript:parent.parentLocationChg('components/scrollbar')">C_SCROLLBAR</a>, <a href="javascript:parent.parentLocationChg('components/button/dropDownbutton')">C_BUTTON_DROPDOWN</a>, <a href="javascript:parent.parentLocationChg('components/button/basicButton')">C_BUTTON_BASIC</a>, <a href="javascript:parent.parentLocationChg('components/tab')">C_TAB</a>
                </div>
              </dd>
            </dl>
          </dd>
          <dt>Examples</dt>
          <dd>
            -
          </dd>
        </dl>
        <dl class="tagDl">
          <dt>*Tags :</dt>
          <dd>
            <span class="tagItem" linkTag="dep6_8_1">Basic List</span>,
            <span class="tagItem" linktag="dep6_25_2">Text Item</span>,
            <span class="tagItem" linkTag="dep6_13">Scroll Bar</span>,
            <span class="tagItem" linkTag="dep6_19">Tab</span>,
            <span class="tagItem" linkTag="dep6_2_1">Basic Button</span>,
            <span class="tagItem" linkTag="dep6_2_2">Dropdown Button</span>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <!--[if lt IE 9]>
    <script src="../../javascript/placeholders.min.js"></script>
  <![endif]-->
  <div class="topIcon"></div>
</body>

</html>
