<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
  <title>TV Principle</title>
  <link rel="stylesheet" href="../../../css/basic.css">
  <link rel="stylesheet" href="../../../css/style.css">
  <link rel="stylesheet" href="../../../css/flexslider.css">
  <script src="../../../javascript/jquery-1.8.3.min.js"></script>
  <script src="../../../javascript/jquery.flexslider-min.js"></script>
  <script>
  var jqv = jQuery.noConflict();
  window.parent.menuReCall("dep6_8_3");
  </script>
  <script src="../../../javascript/sub_jquery.js"></script>
  <script src="../../../javascript/placeholders.min.js"></script>
  <!--[if lt IE 9]>
    <script src="../../../javascript/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <div id="dropdownList" class="showCon">
    <div class="conTop">
      <h2>Dropdown List</h2>
      <div class="tabBoxWrap">
        <ul class="tabBox clfix">
          <li><a href="">Definition</a></li>
          <li><a href="">Usage</a></li>
          <li><a href="">Interaction</a></li>
          <li><a href="">Specs</a></li>
        </ul>
      </div>
    </div>
    <!-- //.conTop -->
    <div class="conBottom">
      <div class="conBottomInner">
        <div class="subConInTit">
          C_LISTDROPDOWN
        </div>
        <dl class="infoList tabList type2" searchWord="C_LISTDROPDOWN">
          <dt>Definition</dt>
          <dd>
            Dropdown list allows the user to choose one value and applies to entry point.
          </dd>
          <dt>Usage</dt>
          <dd>
            <div style="max-width: 1000px;">
              <ul class="grid_half clfix">
                <li>
                  <dl class="img_info">
                    <dt><img src="../../../img/components/list/dropdownlist/21.png" alt=""></dt>
                    <dd>Dropdown button</dd>
                  </dl>
                </li>
                <li>
                  <dl class="img_info">
                    <dt><img src="../../../img/components/list/dropdownlist/22.png" alt=""></dt>
                    <dd>Text item with dropdown lists</dd>
                  </dl>
                </li>
              </ul>
            </div>
          </dd>
          <dt>Interaction</dt>
          <dd>
            <ul class="indentList type2">
              <li>- Looping is not supported.</li>
              <li>- If scroll starts, scroll bar will be displayed and same with scroll direction.</li>
              <li>- The part of lists indicates that there is more lists over the screen.</li>
            </ul>
          </dd>
          <dt>Specs</dt>
          <dd>
            <dl class="infoList_1">
              <dt>Properties</dt>
              <dd>
                <dl class="infoList_1 type2 type5">
                  <dt>Dropdown lists consist of the following elements :</dt>
                  <dd>
                    <dl class="infoList_1_1">
                      <dt>1. Icon (<span class="col_blue">Optional</span>)</dt>
                      <dd>
                        <ul class="indentList">
                          <li>- Should be representative option list</li>
                        </ul>
                      </dd>
                      <dt>2. Text (<span class="col_ora">Mandatory</span>)</dt>
                      <dt>3. Selection icon (<span class="col_ora">Mandatory</span>)</dt>
                      <dd>
                        <ul class="indentList">
                          <li>- One of the option lists should be selected with checkmark(v).</li>
                        </ul>
                      </dd>
                    </dl>
                    <ul class="listStyle02">
                      <li><img src="../../../img/components/list/dropdownlist/1.png" alt=""></li>
                    </ul>
                  </dd>
                </dl>
              </dd>
              <dt>Property Table</dt>
              <dd>
                <table class="propertyTbl">
                  <colgroup>
                    <col width="25%">
                    <col width="15%">
                    <col>
                  </colgroup>
                  <tbody>
                    <tr>
                      <th class="propertyTblTit" scope="col" colspan="3">C_LISTDROPDOWN</th>
                    </tr>
                    <tr>
                      <th scope="col">
                        PROPERTY
                      </th>
                      <th scope="col">
                        USE
                      </th>
                      <th scope="col">
                        VALUE
                      </th>
                    </tr>
                    <tr>
                      <td>Icon</td>
                      <td></td>
                      <td>&lt;&lt;value&gt;&gt;</td>
                    </tr>
                    <tr>
                      <td>Text</td>
                      <td><span class="textO">◎</span></td>
                      <td>
                        [Item1]
                        <br> [Item2]
                        <br> [Item3]
                      </td>
                    </tr>
                    <tr>
                      <td>Selection icon</td>
                      <td><span class="textO">◎</span></td>
                      <td>Check mark (v)</td>
                    </tr>
                  </tbody>
                </table>
              </dd>
              <dt>Visual</dt>
              <dd>
                <dl class="infoList_1 type2 type5">
                  <dt>GUI</dt>
                  <dd>
                    <dl class="visualTagList">
                      <dt>C_LISTDROPDOWN</dt>
                      <dd><img src="../../../img/components/list/dropdownlist/12.png" alt=""></dd>
                      <dd><img src="../../../img/components/list/dropdownlist/13.png" alt=""></dd>
                    </dl>
                  </dd>
                  <dt>Motion</dt>
                  <dd>
                    <dl class="visualTagList">
                      <dt>C_LISTDROPDOWN</dt>
                      <dd><img src="../../../img/components/list/dropdownlist/14.png" alt=""></dd>
                      <dd><img src="../../../img/components/list/dropdownlist/15.png" alt=""></dd>
                      <dd><img src="../../../img/components/list/dropdownlist/16.png" alt=""></dd>
                      <dd><img src="../../../img/components/list/dropdownlist/17.png" alt=""></dd>
                      <dd><img src="../../../img/components/list/dropdownlist/18.png" alt=""></dd>
                    </dl>
                  </dd>
                </dl>
                <div class="visualImgTxt">
                  <img src="../../../img/components/list/dropdownlist/19.png" alt="">
                  <div class="tempLinkBox">
                    LINK : <a href="javascript:parent.parentLocationChg('components/button/dropDownbutton')">C_BUTTONDROPDOWN</a>, <a href="javascript:parent.parentLocationChg('components/item/textItem')">C_TEXTITEM_SINGLELINE01</a>, <a href="javascript:parent.parentLocationChg('components/list/basicList')">C_LISTBASIC</a>, <a href="javascript:parent.parentLocationChg('visual-style/highlight')">R_HIGHLIGHT</a>
                  </div>
                </div>
                <div class="visualImgTxt">
                  <img src="../../../img/components/list/dropdownlist/20.png" alt="">
                </div>
                <div class="btn_box">
                  <a href="../../../resources/png/pattern/c_list_dropdown.zip" class="btn_download"><span>Download PNG Resources</span></a>
                </div>
              </dd>
            </dl>
          </dd>
        </dl>
        <dl class="tagDl">
          <dt>*Tags :</dt>
          <dd>
            <span class="tagItem" linkTag="dep9_1">Dropdown</span>,
            <span class="tagItem" linkTag="dep6_2_2">Dropdown Button</span>
          </dd>
        </dl>
      </div>
    </div>
    <!-- //.conBottom -->
  </div>
  <!--[if lt IE 9]>
    <script src="../../../javascript/placeholders.min.js"></script>
  <![endif]-->
  <div class="topIcon"></div>
</body>

</html>
