<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
  <title>TV Principle</title>
  <link rel="stylesheet" href="../../../css/basic.css">
  <link rel="stylesheet" href="../../../css/style.css">
  <link rel="stylesheet" href="../../../css/flexslider.css">
  <script src="../../../javascript/jquery-1.8.3.min.js"></script>
  <script src="../../../javascript/jquery.flexslider-min.js"></script>
  <script>
  var jqv = jQuery.noConflict();
  window.parent.menuReCall("dep9_3_2");
  </script>
  <script src="../../../javascript/sub_jquery.js"></script>
  <script src="../../../javascript/placeholders.min.js"></script>
  <!--[if lt IE 9]>
    <script src="../../../javascript/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <div id="timePicker" class="showCon">
    <div class="conTop">
      <h2>Time Picker</h2>
      <div class="tabBoxWrap">
        <ul class="tabBox clfix">
          <li><a href="">Definition</a></li>
          <li><a href="">Usage</a></li>
          <li><a href="">Interaction</a></li>
          <li><a href="">Specs</a></li>
        </ul>
      </div>
    </div>
    <!-- //.conTop -->
    <div class="conBottom">
      <div class="conBottomInner">
        <div class="subConInTit">
          C_TIMEPICKER
        </div>
        <dl class="infoList tabList type2">
          <dt>Definition</dt>
          <dd>
            Use time picker to set a time with changing values continuously.
          </dd>
          <dt>Usage</dt>
          <dd>
            <ul class="indentList type2">
              <li>- Display main text of setting value on the same line. (**Refer to <a href="javascript:parent.parentLocationChg('components/item/textItem')"class="col_green bbg tagItem">TEXT ITEM</a> for details)</li>
              <li>- It is available to display as main text like; Start time, End time and so on.</li>
            </ul>
            <ul class="listStyle02">
              <li><img src="../../../img/components/spincontrol/timepicker/5.png" alt=""></li>
            </ul>
          </dd>
          <dt>Interaction</dt>
          <dd>
            Interaction is same as Date Picker. (**Refer to <a href="javascript:parent.parentLocationChg('components/picker/datePicker')"class="col_green bbg tagItem">DATE PICKER</a> for details)
          </dd>
          <dt>Specs</dt>
          <dd>
            <dl class="infoList_1">
              <dt>Properties</dt>
              <dd>
                <p>
                  Time picker consists of Hour, Minute and AM/PM.
                  <br>The order of Hour, Minute and AM/PM follows the standard date format used in each respective country.
                  <br>Use the colon (:) between spin controls to distinguish hour and minute.
                </p>
                <dl class="infoList_1 type2">
                  <dt>Time picker consists of the following elements:</dt>
                  <dd>
                    <dl class="infoList_1_1">
                      <dt>1. AM/PM spin control (<span class="col_ora">Mandatory</span>)</dt>
                      <dt>2. Hour spin control (<span class="col_ora">Mandatory</span>)</dt>
                      <dt>3. Minute spin control (<span class="col_ora">Mandatory</span>)</dt>
                      <dt>4. Colon (<span class="col_ora">Mandatory</span>)</dt>
                    </dl>
                    <ul class="listStyle02">
                      <li><img src="../../../img/components/spincontrol/timepicker/2.png" alt=""></li>
                    </ul>
                  </dd>
                </dl>
              </dd>
              <dt>Property Table</dt>
              <dd>
                <table class="propertyTbl">
                  <colgroup>
                    <col width="25%">
                    <col width="15%">
                    <col>
                    <col>
                  </colgroup>
                  <tbody>
                    <tr>
                      <th class="propertyTblTit" scope="col" colspan="4">C_TIMEPICKER</th>
                    </tr>
                    <tr>
                      <th scope="col">
                        PROPERTY
                      </th>
                      <th scope="col">
                        USE
                      </th>
                      <th scope="col">
                        VALUE
                      </th>
                      <th scope="col">
                        ADDITIONAL
                      </th>
                    </tr>
                    <tr>
                      <td>AM/PM</td>
                      <td><span class="textO">◎</span></td>
                      <td>AM/PM</td>
                      <td>value range (start value–end value)</td>
                    </tr>
                    <tr>
                      <td>Hour</td>
                      <td><span class="textO">◎</span></td>
                      <td>&lt;&lt;value&gt;&gt;-&lt;&lt;value&gt;&gt;,&lt;&lt;default value&gt;&gt;</td>
                      <td>value range (start value–end value)</td>
                    </tr>
                    <tr>
                      <td>Minute</td>
                      <td><span class="textO">◎</span></td>
                      <td>&lt;&lt;value&gt;&gt;-&lt;&lt;value&gt;&gt;,&lt;&lt;default value&gt;&gt;</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Hour</td>
                      <td><span class="textO">◎</span></td>
                      <td>-</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </dd>
              <dt>Visual</dt>
              <dd>
                <dl class="infoList_1 type2 type5">
                  <dt>GUI</dt>
                  <dd>
                    <dl class="visualTagList">
                  <dt>C_TIMEPICKER_WHITE</dt>
                  <dd><img src="../../../img/components/picker/timePicker/3.png" alt=""></dd>
                </dl>
                  </dd>
                </dl>
                <div class="visualImgTxt">
                  <img src="../../../img/components/picker/timePicker/4.png" alt="">
                  <div class="tempLinkBox">
                    LINK : <a href="javascript:parent.parentLocationChg('components/picker/datePicker')">C_DATEPICKER</a>, <a href="javascript:parent.parentLocationChg('components/spinControl')">C_SPINCONTROL</a>
                  </div>
                </div>
                <div class="btn_box">
                  <a href="../../../resources/png/pattern/c_timepicker.zip" class="btn_download"><span>Download PNG Resources</span></a>
                </div>
              </dd>
            </dl>
          </dd>
        </dl>
        <dl class="tagDl">
          <dt>*Tags :</dt>
          <dd>
            <span class="tagItem" linktag="dep6_16">Spin Control</span>,
            <span class="tagItem" linktag="dep6_25_2">Text Item</span>,
            <span class="tagItem" linktag="dep9_3_1">Date Picker</span>
          </dd>
        </dl>
      </div>
    </div>
    <!-- //.conBottom -->
  </div>
  <!--[if lt IE 9]>
    <script src="../../../javascript/placeholders.min.js"></script>
  <![endif]-->
  <div class="topIcon"></div>
</body>

</html>
