<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
  <title>TV Principle</title>
  <link rel="stylesheet" href="../../css/basic.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/flexslider.css">
  <script src="../../javascript/jquery-1.8.3.min.js"></script>
  <script src="../../javascript/jquery.flexslider-min.js"></script>
  <script>
  var jqv = jQuery.noConflict();
  window.parent.menuReCall("dep5_14");
  </script>
  <script src="../../javascript/sub_jquery.js"></script>
  <script src="../../javascript/placeholders.min.js"></script>
  <!--[if lt IE 9]>
    <script src="../../javascript/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <div id="layout11" class="showCon">
    <div class="conTop">
      <h2>Layout 11</h2>
      <div class="tabBoxWrap">
        <ul class="tabBox clfix">
          <li><a href="">Definition</a></li>
          <li><a href="">Specs</a></li>
          <li><a href="">Examples</a></li>
        </ul>
      </div>
    </div>
    <!-- //.conTop -->
    <div class="conBottom">
      <div class="conBottomInner">
        <dl class="infoList tabList noFunction">
          <dt>Definition</dt>
          <dd>
            Use Layout 11 to displays a progress indicator and some descriptive text while an app or a game is launched.
            <br> It lets people know something is happening, so the app or game doesn’t appear frozen.
            <br> If an app or a game would use only a portion of the screen, display loading on top-right. Please refer to Loading component for details .
          </dd>
          <dt>Specs</dt>
          <dd>
            <dl class="infoList_1">
              <dt>Properties</dt>
              <dd>
                <div class="typeTab">
                  <ul class="typeTabList clfix">
                    <li class="active"><a href="">Detail view</a></li>
                    <li><a href="">Simple view</a></li>
                  </ul>
                  <ul class="typeTabCon">
                    <li class="active">
                      <img src="../../img/layout/11/1.png" alt="">
                    </li>
                    <li>
                      <img src="../../img/layout/11/3.png" alt="">
                    </li>
                  </ul>
                </div>
              </dd>
              <dt>Note</dt>
              <dd>
                <ul class="indentList">
                  <li>1. Loading in this area should be composed of an icon and a text.</li>
                </ul>
              </dd>
              <dt>Initial State</dt>
              <dd>
                <ul class="indentList">
                  <li>- No focus in this layout.</li>
                </ul>
              </dd>
              <dt>Layout Element Table</dt>
              <dd>
                <img src="../../img/layout/11/2.png" alt="">
                <div class="tempLinkBox">
                  LINK : <a href="javascript:parent.parentLocationChg('components/progress/loading')">C_LOADING</a>
                </div>
              </dd>
            </dl>
          </dd>
          <dt>Examples</dt>
          <dd>
            -
          </dd>
        </dl>
        <dl class="tagDl">
          <dt>*Tags :</dt>
          <dd>
            <span class="tagItem" linkTag="dep6_12_1">Loading</span>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <!--[if lt IE 9]>
    <script src="../../javascript/placeholders.min.js"></script>
  <![endif]-->
  <div class="topIcon"></div>
</body>

</html>
