<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
  <title>TV Principle</title>
  <link rel="stylesheet" href="../../css/basic.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/flexslider.css">
  <script src="../../javascript/jquery-1.8.3.min.js"></script>
  <script src="../../javascript/jquery.flexslider-min.js"></script>
  <script>
  var jqv = jQuery.noConflict();
  window.parent.menuReCall("dep5_20");
  </script>
  <script src="../../javascript/sub_jquery.js"></script>
  <script src="../../javascript/placeholders.min.js"></script>
  <!--[if lt IE 9]>
    <script src="../../javascript/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <div id="layout16" class="showCon">
    <div class="conTop">
      <h2>Layout 16</h2>
      <div class="tabBoxWrap">
        <ul class="tabBox clfix">
          <li><a href="">Definition</a></li>
          <li><a href="">Specs</a></li>
          <li><a href="">Examples</a></li>
        </ul>
      </div>
    </div>
    <!-- //.conTop -->
    <div class="conBottom">
      <div class="conBottomInner">
        <dl class="infoList tabList noFunction">
          <dt>Definition</dt>
          <dd>
            Use Layout 16 to allow users to browse broadcast programming or scheduling information for current and upcoming programming.
          </dd>
          <dt>Specs</dt>
          <dd>
            <dl class="infoList_1">
              <dt>Properties</dt>
              <dd>
                <div class="typeTab">
                  <ul class="typeTabList clfix">
                    <li class="active"><a href="">Detail view</a></li>
                    <li><a href="">Simple view</a></li>
                  </ul>
                  <ul class="typeTabCon">
                    <li class="active">
                      <img src="../../img/layout/16/1.png" alt="">
                    </li>
                    <li>
                      <img src="../../img/layout/16/3.png" alt="">
                    </li>
                  </ul>
                </div>
              </dd>
              <dt>Note</dt>
              <dd>
                <ul class="indentList">
                  <li>1. Display the title that represents the current screen. In general, the title can be the name of an application, a device, and etc.</li>
                  <li>2. Display the current date and time.</li>
                  <li>3. Display the brief info of the item currently focused, such as the synopsis, the representative image, etc..</li>
                  <li>4. Display the preview of the item currently focused.</li>
                  <li>5. Display the list of channels.</li>
                  <li>6. Text items used in this area should include a main text.
                    <br> In general, a text item for a channel includes the number, name, and logo of each channel.</li>
                  <li>7. If there are too many channels to browse, the filter can be provided.</li>
                  <li>8. Display the shows according to channel and time. Generally, equally spaced time intervals are displayed in the first row.</li>
                  <li>9. Text items used in this area should include a main text.
                    <br> In general, they include the title and broadcasting time of the show.</li>
                </ul>
              </dd>
              <dt>Initial State</dt>
              <dd>
                <ul class="indentList">
                  <li>-</li>
                </ul>
              </dd>
              <dt>Layout Element Table</dt>
              <dd>
                <img src="../../img/layout/16/2.png" alt="">
                <div class="tempLinkBox">
                  LINK : <a href="javascript:parent.parentLocationChg('components/list/basicList')">C_LISTBASIC</a>, <a href="javascript:parent.parentLocationChg('components/item/textItem')">C_TEXTITEM</a>, <a href="javascript:parent.parentLocationChg('components/button/dropDownbutton')">C_BUTTONDROPDOWN</a>
                </div>
              </dd>
            </dl>
          </dd>
          <dt>Examples</dt>
          <dd>
            -
          </dd>
        </dl>
        <dl class="tagDl">
          <dt>*Tags :</dt>
          <dd>
            <span class="tagItem" linkTag="dep6_8_1">Basic List</span>,
            <span class="tagItem" linktag="dep6_25_2">Text Item</span>,
            <span class="tagItem" linkTag="dep6_13">Scroll Bar</span>,
            <span class="tagItem" linkTag="dep6_2_2">Dropdown Button</span>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <!--[if lt IE 9]>
    <script src="../../javascript/placeholders.min.js"></script>
  <![endif]-->
  <div class="topIcon"></div>
</body>

</html>
