<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
  <title>TV Principle</title>
  <link rel="stylesheet" href="../../css/basic.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/flexslider.css">
  <script src="../../javascript/jquery-1.8.3.min.js"></script>
  <script src="../../javascript/jquery.flexslider-min.js"></script>
	<script>
		var jqv = jQuery.noConflict();
		window.parent.menuReCall("dep5_4");
	</script>
	<script src="../../javascript/sub_jquery.js"></script>
	<script src="../../javascript/placeholders.min.js"></script>
  <!--[if lt IE 9]>
		<script src="../../javascript/html5shiv.js"></script>
	<![endif]-->
</head>

<body>
  <div id="layout01_3" class="showCon">
        <div class="conTop">
          <h2>Layout 01 Var.04</h2>
          <div class="tabBoxWrap">
            <ul class="tabBox clfix">
              <li><a href="">Definition</a></li>
              <li><a href="">Specs</a></li>
              <li><a href="">Examples</a></li>
            </ul>
          </div>
        </div>
        <!-- //.conTop -->
        <div class="conBottom">
          <div class="conBottomInner">
            <dl class="infoList tabList">
      				<dt>Definition</dt>
      				<dd>
                Use Layout 01 Variation 04 to display groupings of related control or setting items. <br>
View the list of groupings on the left, and focus on one to see its items on the right.

      				</dd>
      				<dt>Specs</dt>
      				<dd>
                <dl class="infoList_1">
                  <dt>Properties</dt>
        					<dd>
										<ul class="listStyle02">
											<li>
												<img src="../../img/layout/01_4/1.png" alt="">
											</li>
										</ul>
        					</dd>
									<dt>Note</dt>
									<dd>
										<ul class="indentList">
											<li>1.</li>
											<li>2.</li>
										</ul>
									</dd>
									<dt>Initial State</dt>
									<dd>
										<ul class="indentList">
											<li>- The first tab is selected.</li>
											<li>- The focus is on the first(top-left) item of the grid in the first tab.</li>
										</ul>
									</dd>
                  <dt>Layout Element Table</dt>
        					<dd>
        						<img src="../../img/layout/01_4/2.png" alt="">
        					</dd>
        				</dl>
      				</dd>
      				<dt>Examples</dt>
      				<dd>
                - Settings
      				</dd>
        		</dl>
          </div>
        </div>
      </div>

  <!--[if lt IE 9]>
    <script src="../../javascript/placeholders.min.js"></script>
  <![endif]-->
<div class="topIcon"></div>
</body>

</html>
