<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
  <title>TV Principle</title>
  <link rel="stylesheet" href="../../css/basic.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/flexslider.css">
  <script src="../../javascript/jquery-1.8.3.min.js"></script>
  <script src="../../javascript/jquery.flexslider-min.js"></script>
  <script>
  var jqv = jQuery.noConflict();
  window.parent.menuReCall("dep5_10");
  </script>
  <script src="../../javascript/sub_jquery.js"></script>
  <script src="../../javascript/placeholders.min.js"></script>
  <!--[if lt IE 9]>
    <script src="../../javascript/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <div id="layout07" class="showCon">
    <div class="conTop">
      <h2>Layout 07</h2>
      <div class="tabBoxWrap">
        <ul class="tabBox clfix">
          <li><a href="">Definition</a></li>
          <li><a href="">Specs</a></li>
          <li><a href="">Examples</a></li>
        </ul>
      </div>
    </div>
    <!-- //.conTop -->
    <div class="conBottom">
      <div class="conBottomInner">
        <dl class="infoList tabList noFunction">
          <dt>Definition</dt>
          <dd>
            Use Layout 07 to promote contents.
          </dd>
          <dt>Specs</dt>
          <dd>
            <dl class="infoList_1">
              <dt>Properties</dt>
              <dd>
                <div class="typeTab">
                  <ul class="typeTabList clfix">
                    <li class="active"><a href="">Detail view</a></li>
                    <li><a href="">Simple view</a></li>
                  </ul>
                  <ul class="typeTabCon">
                    <li class="active">
                      <img src="../../img/layout/07/1.png" alt="">
                    </li>
                    <li>
                      <img src="../../img/layout/07/3.png" alt="">
                    </li>
                  </ul>
                </div>
              </dd>
              <dt>Note</dt>
              <dd>
                <ul class="indentList">
                  <li>1. Display the representative image of the content.</li>
                  <li>2. Display the title of the content.</li>
                  <li>3. Display the brief info of the content.</li>
                  <li>4. Buttons in this area should be composed of only a text.</li>
                  <li>5. Display the description of the content. </li>
                  <li>6. If the information is too long to be displayed, a Button to show whole information should be provided.</li>
                  <li>7. Display the list of items related to the content.</li>
                  <li>8. Image items used in Layout 07 should include a main image.</li>
                  <li>9. When the focus moves from side to side in the grid, display the horizontal scroll bar below the grid. </li>
                  <li>10. Each group of related items can have a title.</li>
                </ul>
              </dd>
              <dt>Initial State</dt>
              <dd>
                <ul class="indentList">
                  <li>- The focus is on the first(top-left) button.</li>
                </ul>
              </dd>
              <dt>Layout Element Table</dt>
              <dd>
                <img src="../../img/layout/07/2.png" alt="">
                <div class="tempLinkBox">
                  LINK : <a href="javascript:parent.parentLocationChg('components/button/basicButton')">C_BUTTONBASIC</a>, <a href="javascript:parent.parentLocationChg('components/grid')">C_GIRD</a>, <a href="javascript:parent.parentLocationChg('components/item/imageItem')">C_IMAGEITEM</a>, <a href="javascript:parent.parentLocationChg('components/scrollbar')">C_SCROLLBAR</a>
                </div>
              </dd>
            </dl>
          </dd>
          <dt>Examples</dt>
          <dd>
            - Detail info for apps or games
          </dd>
        </dl>
        <dl class="tagDl">
          <dt>*Tags :</dt>
          <dd>
            <span class="tagItem" linkTag="dep6_5">Grid</span>,
            <span class="tagItem" linkTag="dep6_25_1">Image Item</span>,
            <span class="tagItem" linkTag="dep6_13">Scroll Bar</span>,
            <span class="tagItem" linkTag="dep6_2_1">Basic Button</span>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <!--[if lt IE 9]>
    <script src="../../javascript/placeholders.min.js"></script>
  <![endif]-->
  <div class="topIcon"></div>
</body>

</html>
