<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
  <title>TV Principle</title>
  <link rel="stylesheet" href="../../css/basic.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/flexslider.css">
  <script src="../../javascript/jquery-1.8.3.min.js"></script>
  <script src="../../javascript/jquery.flexslider-min.js"></script>
	<script>
		var jqv = jQuery.noConflict();
		window.parent.menuReCall("dep5_2");
	</script>
	<script src="../../javascript/sub_jquery.js"></script>
	<script src="../../javascript/placeholders.min.js"></script>
  <!--[if lt IE 9]>
		<script src="../../javascript/html5shiv.js"></script>
	<![endif]-->
</head>

<body>
  <div id="layout01_2" class="showCon">
        <div class="conTop">
          <h2>Layout 01 Var.02</h2>
          <div class="tabBoxWrap">
            <ul class="tabBox clfix">
              <li><a href="">Definition</a></li>
              <li><a href="">Specs</a></li>
              <li><a href="">Examples</a></li>
            </ul>
          </div>
        </div>
        <!-- //.conTop -->
        <div class="conBottom">
          <div class="conBottomInner">
            <dl class="infoList tabList">
      				<dt>Definition</dt>
      				<dd>
                Use Layout 01 Variation 02 to involve multiple tasks.
      				</dd>
      				<dt>Specs</dt>
      				<dd>
                <dl class="infoList_1">
                  <dt>Properties</dt>
        					<dd>
										<ul class="listStyle02">
											<li>
												<img src="../../img/layout/01_2/1.png" alt="">
											</li>
										</ul>
        					</dd>
									<dt>Note</dt>
									<dd>
										<ul class="indentList">
											<li>1.</li>
											<li>2.</li>
											<li>3. Buttons in this area should be composed of only a text. The button to return to the previous status (Close, Cancel, etc.) should be provided.</li>
											<li>4. Body is freely configurable as needed and the focus can reach this area. Here are the list of available components for Body.
     <span class="col_green">C_List, C_Grid, C_InfoTile, C_Scrollbar [TBD]</span>
</li>
										</ul>
									</dd>
									<dt>Initial State</dt>
									<dd>
										<ul class="indentList">
											<li>- If Body has the component that can have the focus, the focus is initially on the first item.</li>
											<li>- Or else, the focus is on the first available button.</li>
										</ul>
									</dd>
                  <dt>Layout Element Table</dt>
        					<dd>
        						<img src="../../img/layout/01_2/2.png" alt="">
        					</dd>
        				</dl>
      				</dd>
      				<dt>Examples</dt>
      				<dd>
                -
      				</dd>
        		</dl>
          </div>
        </div>
      </div>

  <!--[if lt IE 9]>
    <script src="../../javascript/placeholders.min.js"></script>
  <![endif]-->
<div class="topIcon"></div>
</body>

</html>
