<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
  <title>TV Principle</title>
  <link rel="stylesheet" href="../../css/basic.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/flexslider.css">
  <script src="../../javascript/jquery-1.8.3.min.js"></script>
  <script src="../../javascript/jquery.flexslider-min.js"></script>
  <script>
  var jqv = jQuery.noConflict();
  window.parent.menuReCall("dep5_0");
  </script>
  <script src="../../javascript/sub_jquery.js"></script>
  <script src="../../javascript/placeholders.min.js"></script>
  <!--[if lt IE 9]>
    <script src="../../javascript/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <div id="layoutIntro" class="showCon">
    <div class="conTop">
      <h2>Principles</h2>
    </div>
    <!-- //.conTop -->
    <div class="conBottom">
      <div class="conBottomInner">
        <div class="subConInTopTxt">
          Design the layouts based on the following principles.
        </div>
        <dl class="infoList_1">
          <dt>Principle 1</dt>
          <dd>
            <p>
              When using two or more components on the same screen, ensure that the scrolling direction within a component and navigation direction between components must not be the same to allow users to easily access each component.
            </p>
            <ul class="inlineList">
              <li><img src="../../img/layout/1.png" alt=""></li>
              <li><img src="../../img/layout/3.png" alt=""></li>
              <li><img src="../../img/layout/4.png" alt=""></li>
            </ul>
          </dd>
          <dt>Principle 2</dt>
          <dd>
            <p>
              Place components (such as buttons) frequently used on every screen to perform general actions, on the top right area of the screen.
              <br> Examples are the Search button, the Sign In button, the Options button, and etc.
            </p>
            <ul class="listStyle02">
              <li><img src="../../img/layout/2.png" alt=""></li>
            </ul>
          </dd>
          <dt>Principle 3</dt>
          <dd>
            <p>
              Place components (such as buttons) used for allowing users to control content items, in the body area of the screen.
              <br> Examples are the Add button, the Delete button, and etc.
            </p>
            <ul class="inlineList">
              <li><img src="../../img/layout/5.png" alt=""></li>
              <li><img src="../../img/layout/6.png" alt=""></li>
            </ul>
          </dd>
          <dt>Principle 4</dt>
          <dd>
            <p>
              Place components used for allowing users to filter, sort or select content items, near the target list or grid in the screen.
              <br> Examples are the Sort button, the Filter button and the Select All button, and etc.
            </p>
            <ul class="inlineList">
              <li><img src="../../img/layout/7.png" alt=""></li>
              <li><img src="../../img/layout/8.png" alt=""></li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <!--[if lt IE 9]>
    <script src="../../javascript/placeholders.min.js"></script>
  <![endif]-->
  <div class="topIcon"></div>
</body>

</html>
