<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
  <title>TV Principle</title>
  <link rel="stylesheet" href="../../../css/basic.css">
  <link rel="stylesheet" href="../../../css/style.css">
  <link rel="stylesheet" href="../../../css/flexslider.css">
  <script src="../../../javascript/jquery-1.8.3.min.js"></script>
  <script src="../../../javascript/jquery.flexslider-min.js"></script>
  <script>
		var jqv = jQuery.noConflict();
		window.parent.menuReCall("dep6_12");
	</script>
	<script src="../../../javascript/sub_jquery.js"></script>
	<script src="../../../javascript/placeholders.min.js"></script>
  <!--[if lt IE 9]>
		<script src="../../../javascript/html5shiv.js"></script>
	<![endif]-->
</head>

<body>
  <!-- #indicatorIntro -->
      <div id="indicatorIntro" class="showCon">
        <div class="conTop">
          <h2>Progress Indicator</h2>
        </div>
        <!-- //.conTop -->
        <div class="conBottom">

          <div class="conBottomInner">
            <div class="subConInTopTxt">
              Progress indicator makes user know how long and operation will take when the percentage is complete is detectable.
            </div>
            <dl class="introLayoutDl">
              <dt>There are 3 types of progress indicator; Loading, Progress Circle and Progress Bar.</dt>
              <dd>
                <ul class="inlineList">
                  <li><img src="../../../img/components/indicator/1.png" alt=""></li><li><img src="../../../img/components/indicator/2.png" alt=""></li><li><img src="../../../img/components/indicator/3.png" alt=""></li>
                </ul>
              </dd>
            </dl>
          </div>
        </div>
      </div><!-- //#indicatorIntro.showCon -->

  <!--[if lt IE 9]>
    <script src="../../../javascript/placeholders.min.js"></script>
  <![endif]-->
<div class="topIcon"></div>
</body>

</html>
