<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
  <title>TV Principle</title>
  <link rel="stylesheet" href="../../../css/basic.css">
  <link rel="stylesheet" href="../../../css/style.css">
  <link rel="stylesheet" href="../../../css/flexslider.css">
  <script src="../../../javascript/jquery-1.8.3.min.js"></script>
  <script src="../../../javascript/jquery.flexslider-min.js"></script>
  <script>
		var jqv = jQuery.noConflict();
		window.parent.menuReCall("dep6_21_1");
	</script>
	<script src="../../../javascript/sub_jquery.js"></script>
	<script src="../../../javascript/placeholders.min.js"></script>
  <!--[if lt IE 9]>
		<script src="../../../javascript/html5shiv.js"></script>
	<![endif]-->
</head>

<body>
  <div id="contentTile" class="showCon">
        <div class="conTop">
          <h2>CONTENT TILE</h2>
          <div class="tabBoxWrap">
            <ul class="tabBox clfix">
              <li><a href="">Definition</a></li>
              <li><a href="">Usage</a></li>
              <li><a href="">Interaction</a></li>
              <li><a href="">Specs</a></li>
            </ul>
          </div>
        </div>
        <!-- //.conTop -->
        <div class="conBottom">
          <div class="conBottomInner">
            <div class="subConInTit">
      				C_CONTENTTILE
      			</div>
            <dl class="infoList tabList type2">
              <dt>Definition</dt>
        			<dd>
        				Content tile is consisted of image and text to inform what content is.
        			</dd>
        			<dt>Usage</dt>
        			<dd>
        				<ul class="indentList type2">
									<li>- Image should be representative what content is like logo or poster.</li>
									<li>- Title is applied the content name.</li>
									<li>- It is hard to distinguish the content as image, sub image can be applied on the text area. (ex. image=screenshot, sub image=logo)</li>
								</ul>
								<dl class="infoList_1 type3">
									<dt>Tile on the list</dt>
									<dd><img src="../../../img/components/tile/contenttile/1.png" alt=""></dd>
									<dt>Content tile 2</dt>
									<dd><img src="../../../img/components/tile/contenttile/2.png" alt=""></dd>
								</dl>
        			</dd>
        			<dt>Interaction</dt>
        			<dd>
								<img src="../../../img/tbd02.png" alt="">
        			</dd>
        			<dt>Specs</dt>
        			<dd>
								<dl class="infoList_1">
							<dt>Properties</dt>
        					<dd>
										<dl class="infoList_1 type2 type5">
											<dt>Content tile2 consists of the following elements:</dt>
											<dd>
												<dl class="infoList_1_1">
													<dt>1. Image (<span class="col_blue">Optional</span>)</dt>
													<dt>2. Icon (<span class="col_blue">Optional</span>)</dt>
													<dt>3. Main text (<span class="col_blue">Optional</span>)</dt>
													<dt>4. Sub text (<span class="col_blue">Optional</span>)</dt>
													<dt>5. Sub image (<span class="col_blue">Optional</span>)</dt>
													<dt>6. Progress bar (<span class="col_blue">Optional</span>)</dt>
													<dd>
														<ul class="indentList">
															<li>- if it is live content, display progress bar to inform time data.</li>
														</ul>
													</dd>
												</dl>
												<ul class="listStyle02">
													<li><img src="../../../img/components/tile/contenttile/component_tile_content_specs_properties.png" alt=""></li>
												</ul>
											</dd>
										</dl>
        					</dd>
									<dt>Property Table</dt>
									<dd>
										<img src="../../../img/components/tile/contenttile/component_tile_content_specs_propertytable.png" alt="">
									</dd>
        					<dt>Visual</dt>
        					<dd>
        						<img src="../../../img/tbd02.png" alt="">
        					</dd>
        					<dt>Motion</dt>
        					<dd>
        						<img src="../../../img/tbd02.png" alt="">
        					</dd>
        				</dl>
        			</dd>
            </dl>
          </div>
        </div><!-- //.conBottom -->
        </div>

  <!--[if lt IE 9]>
    <script src="../../../javascript/placeholders.min.js"></script>
  <![endif]-->
<div class="topIcon"></div>
</body>

</html>
