<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
  <title>TV Principle</title>
  <link rel="stylesheet" href="../../../css/basic.css">
  <link rel="stylesheet" href="../../../css/style.css">
  <link rel="stylesheet" href="../../../css/flexslider.css">
  <script src="../../../javascript/jquery-1.8.3.min.js"></script>
  <script src="../../../javascript/jquery.flexslider-min.js"></script>
  <script>
		var jqv = jQuery.noConflict();
		window.parent.menuReCall("dep6_22_1");
	</script>
	<script src="../../../javascript/sub_jquery.js"></script>
	<script src="../../../javascript/placeholders.min.js"></script>
  <!--[if lt IE 9]>
		<script src="../../../javascript/html5shiv.js"></script>
	<![endif]-->
</head>

<body>
  <div id="keyMap" class="showCon">
        <div class="conTop">
          <h2>KEY MAP</h2>
          <div class="tabBoxWrap">
            <ul class="tabBox clfix">
              <li><a href="">Definition</a></li>
              <li><a href="">Usage</a></li>
              <li><a href="">Interaction</a></li>
              <li><a href="">Specs</a></li>
            </ul>
          </div>
        </div>
        <!-- //.conTop -->
        <div class="conBottom">
          <div class="conBottomInner">
            <div class="subConInTit">
      				C_KEYMAP
      			</div>
            <dl class="infoList tabList type2">
              <dt>Definition</dt>
        			<dd>
        				Key map allows user to know information of Remote control’s key.
        			</dd>
        			<dt>Usage</dt>
        			<dd>
        				<img src="../../../img/tbd02.png" alt="">
        			</dd>
        			<dt>Interaction</dt>
        			<dd>
        				<img src="../../../img/tbd02.png" alt="">
        			</dd>
        			<dt>Specs</dt>
        			<dd>
								<dl class="infoList_1">
							<dt>Properties</dt>
        					<dd>
										<dl class="infoList_1 type2 type5">
											<dt>Key map consists of the following elements:</dt>
											<dd>
												<dl class="infoList_1_1">
													<dt>1. Image (<span class="col_ora">Mandatory</span>)</dt>
													<dd>
														<ul class="indentList">
															<li>- Display Remote control image</li>
														</ul>
													</dd>
													<dt>2. Text (<span class="col_blue">Optional</span>)</dt>
													<dd>
														<ul class="indentList">
															<li>- Added key value about Remote control image</li>
														</ul>
													</dd>
												</dl>
												<ul class="listStyle02">
													<li><img src="../../../img/components/tips/keymap/component_tips_keymap_specs_properties.png" alt=""></li>
												</ul>
											</dd>
										</dl>
        					</dd>
									<dt>Property Table</dt>
									<dd>
										<img src="../../../img/components/tips/keymap/component_tips_keymap_specs_propertytable.png" alt="">
									</dd>
        					<dt>Visual</dt>
        					<dd>
        						<img src="../../../img/tbd02.png" alt="">
        					</dd>
        					<dt>Motion</dt>
        					<dd>
        						<img src="../../../img/tbd02.png" alt="">
        					</dd>
        				</dl>
        			</dd>
            </dl>
          </div>
        </div><!-- //.conBottom -->
        </div>

  <!--[if lt IE 9]>
    <script src="../../../javascript/placeholders.min.js"></script>
  <![endif]-->
<div class="topIcon"></div>
</body>

</html>
