<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
  <title>TV Principle</title>
  <link rel="stylesheet" href="../../../css/basic.css">
  <link rel="stylesheet" href="../../../css/style.css">
  <link rel="stylesheet" href="../../../css/flexslider.css">
  <script src="../../../javascript/jquery-1.8.3.min.js"></script>
  <script src="../../../javascript/jquery.flexslider-min.js"></script>
  <script>
		var jqv = jQuery.noConflict();
		window.parent.menuReCall("dep6_22_2");
	</script>
	<script src="../../../javascript/sub_jquery.js"></script>
	<script src="../../../javascript/placeholders.min.js"></script>
  <!--[if lt IE 9]>
		<script src="../../../javascript/html5shiv.js"></script>
	<![endif]-->
</head>

<body>
  <div id="tooltip" class="showCon">
        <div class="conTop">
          <h2>TOOL TIP</h2>
          <div class="tabBoxWrap">
            <ul class="tabBox clfix">
              <li><a href="">Definition</a></li>
              <li><a href="">Usage</a></li>
              <li><a href="">Interaction</a></li>
              <li><a href="">Specs</a></li>
            </ul>
          </div>
        </div>
        <!-- //.conTop -->
        <div class="conBottom">
          <div class="conBottomInner">
            <div class="subConInTit">
      				C_TOOLTIP
      			</div>
            <dl class="infoList tabList type2">
              <dt>Definition</dt>
        			<dd>
        				Use a tooltip to display simple information about an item when users move the focus on or rollover an item.<br>
Only provide the necessary information. Displayed tooltips cannot be controlled.
        			</dd>
        			<dt>Usage</dt>
        			<dd>
								<ul class="indentList type2">
									<li>- The tooltip allows up to two 2 lines for the text.</li>
									<li>- The position of the tooltip is related to the associated target element.</li>
									<li>- Use a tooltip to provide the operation explanation or information about the current status so that users can easily perform tasks.</li>
									<li>- By providing detailed information in a tooltip, users can configure detailed settings and can clearly understand the uncertain information.</li>
								</ul>
								<ul class="listStyle02">
									<li><img src="../../../img/components/tips/tooltip/component_tips_tooltip_usage.png" alt=""></li>
								</ul>
        			</dd>
        			<dt>Interaction</dt>
        			<dd>
        				The tooltip appears near the cursor automatically when the user pauses the focus over an item or some UI element.<br>
It disappears when the user press the SELECT button, moves the focus away from the item, or simply waits for a N seconds

        			</dd>
        			<dt>Specs</dt>
        			<dd searchWord="C_TOOLTIP">
								<dl class="infoList_1">
							<dt>Properties</dt>
        					<dd>
										<dl class="infoList_1 type2 type5">
											<dt>Tooltip consists of the following elements:</dt>
											<dd>
												<dl class="infoList_1_1">
													<dt>1. Text (<span class="col_ora">Mandatory</span>)</dt>
													<dd>
														<ul class="indentList">
															<li>- Provide minimal but sufficient information for users to understand the basic usage.</li>
															<li>- You can include text and image in a tooltip and use up to two lines.</li>
															<li>- If the length of the text exceeds the maximum width, make it continue to the next line.</li>
														</ul>
													</dd>
													<dt>1. Icons (<span class="col_blue">Optional</span>)</dt>
												</dl>
												<ul class="listStyle02">
													<li><img src="../../../img/components/tips/tooltip/component_tips_tooltip_specs_properties.png" alt=""></li>
												</ul>
											</dd>
										</dl>
        					</dd>
									<dt>Property Table</dt>
									<dd>
										<img src="../../../img/components/tips/tooltip/component_tips_tooltip_specs_propertytable.png" alt="">
									</dd>
        					<dt>Visual</dt>
        					<dd>
        						<img src="../../../img/tbd02.png" alt="">
        					</dd>
        					<dt>Motion</dt>
        					<dd>
        						<img src="../../../img/tbd02.png" alt="">
        						<dl class="tagDl">
        							<dt>*Tags :</dt>
        							<dd>
        								<span class="tagItem">Button</span>,
                        <span class="tagItem" linkTag="dep6_15">Slider</span>,
                        <span class="tagItem" linkTag="dep6_12_3">Progress Bar</span>
        							</dd>
        						</dl>
        					</dd>
        				</dl>
        			</dd>
            </dl>
          </div>
        </div><!-- //.conBottom -->
        </div>

  <!--[if lt IE 9]>
    <script src="../../../javascript/placeholders.min.js"></script>
  <![endif]-->
<div class="topIcon"></div>
</body>

</html>
