<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
  <title>TV Principle</title>
  <link rel="stylesheet" href="../../../css/basic.css">
  <link rel="stylesheet" href="../../../css/style.css">
  <link rel="stylesheet" href="../../../css/flexslider.css">
  <script src="../../../javascript/jquery-1.8.3.min.js"></script>
  <script src="../../../javascript/jquery.flexslider-min.js"></script>
  <script>
    var jqv = jQuery.noConflict();
    window.parent.menuReCall("dep9_2_1");
  </script>
  <script src="../../../javascript/sub_jquery.js"></script>
  <script src="../../../javascript/placeholders.min.js"></script>
  <!--[if lt IE 9]>
    <script src="../../../javascript/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="dropdownList" class="showCon">
      <div class="conTop">
        <h2>Basic Popup</h2>
        <div class="tabBoxWrap">
          <ul class="tabBox clfix">
            <li><a href="">Definition</a></li>
            <li><a href="">Usage</a></li>
            <!-- <li><a href="">Interaction</a></li> -->
            <li><a href="">Specs</a></li>
          </ul>
        </div>
      </div>
      <!-- //.conTop -->
      <div class="conBottom">
        <div class="conBottomInner">
          <div class="subConInTit">
            C_POPUPBASIC
          </div>
          <dl class="infoList tabList type2" searchWord="C_POPUPBASIC">
            <dt>Definition</dt>
            <dd>
              Use a message popup to display error messages, status information, or the result of users’ actions, or to ask for confirmation.
              <br> With this popup, users can also proceed to the step.
            </dd>
            <dt>Usage</dt>
            <dd>
              <img src="../../../img/components/popup/basicPopup/1.png" alt="" class="searchImg">
            </dd>
          <!-- <dt>Interaction</dt>
              <dd>
                <img src="../../../img/tbd02.png" alt="">
              </dd> -->
              <dt>Specs</dt>
              <dd>
                <dl class="infoList_1">
                  <dt>Properties</dt>
                  <dd>
                    <dl class="infoList_1 type2 type5">
                      <dt>Message popup consists of the following elements :</dt>
                      <dd>
                        <dl class="infoList_1_1">
                          <dt>1. Main text (<span class="col_ora">Mandatory</span>)</dt>
                          <dd>
                            <ul class="indentList">
                              <li>- Type the popup title </li>
                            </ul>
                          </dd>
                          <dt>2. Sub text (<span class="col_blue">Optional</span>)</dt>
                          <dd>
                            <ul class="indentList">
                              <li>- Non-scrollable area </li>
                            </ul>
                          </dd>
                          <dt>3. Custom area (<span class="col_blue">Optional</span>)</dt>
                          <dt>4. Button (<span class="col_ora">Mandatory</span>)</dt>
                        </dl>
                        <ul class="listStyle02">
                          <li><img src="../../../img/components/popup/basicPopup/2.png" alt=""></li>
                        </ul>
                      </dd>
                    </dl>
                  </dd>
                  <dt>Property Table</dt>
                  <dd>
                    <table class="propertyTbl">
                      <colgroup>
                      <col width="25%">
                      <col width="15%">
                      <col>
                      <col>
                    </colgroup>
                    <tbody>
                      <tr>
                        <th class="propertyTblTit" scope="col" colspan="4">C_POPUPBASIC</th>
                      </tr>
                      <tr>
                        <th scope="col">
                          PROPERTY
                        </th>
                        <th scope="col">
                          USE
                        </th>
                        <th scope="col">
                          VALUE
                        </th>
                        <th scope="col">
                          ADDITIONAL
                        </th>
                      </tr>
                      <tr>
                        <td>Main text</td>
                        <td><span class="textO">◎</span></td>
                        <td>&lt;&lt;value&gt;&gt;</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Sub text</td>
                        <td></td>
                        <td>&lt;&lt;value&gt;&gt;</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Custom area</td>
                        <td></td>
                        <td>&lt;&lt;value&gt;&gt;</td>
                        <td>Type name of component or its value</td>
                      </tr>
                      <tr>
                        <td>Button</td>
                        <td><span class="textO">◎</span></td>
                        <td>&lt;&lt;number of buttons&gt;&gt;, <a href="javascript:parent.parentLocationChg('components/button/basicButton')" class="tagItem">C_BUTTONBASIC</a></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </dd>
                <dt>Visual</dt>
                <dd>
                  <dl class="infoList_1 type2 type5">
                    <dt>GUI</dt>
                    <dd>
                      <dl class="visualTagList">
                        <dt>C_POPUPBASIC_WhiteBottom</dt>
                        <dd><img src="../../../img/components/popup/basicPopup/13.png" alt=""></dd>
                        <dt>C_POPUPBASIC_Whiteright</dt>
                        <dd><img src="../../../img/components/popup/basicPopup/14.png" alt=""></dd>
                        <dt>C_POPUPBASIC_WhiteBottom_LARGE</dt>
                        <dd><img src="../../../img/components/popup/basicPopup/15.png" alt=""></dd>
                        <dt>C_POPUPBASIC_WhiteRIGHT_LARGE</dt>
                        <dd><img src="../../../img/components/popup/basicPopup/16.png" alt=""></dd>
                      </dl>
                    </dd>
                  </dl>
                  <div class="visualImgTxt">
                    <img src="../../../img/components/popup/basicPopup/11.png" alt="">
                  </div>
                  <div class="btn_box type2">
                  <a href="../../../resources/png/pattern/c_popupbasic.zip" class="btn_download"><span>Download PNG Resources</span></a>
                </div>
                <div class="btn_box type2">
                  <a href="../../../resources/png/pattern/BasicPopupGuideline.zip" class="btn_download"><span>Download Basic popup guideline</span></a>
                </div>
                </dd>

              </dl>
            </dd>
          </dl>
          <dl class="tagDl">
            <dt>*Tags :</dt>
            <dd>
              <span class="tagItem" linktag="dep6_2_1">Basic Button</span>,
              <span class="tagItem" linktag="dep9_2_2">Toast Popup</span>
            </dd>
          </dl>
        </div>
      </div>
      <!-- //.conBottom -->
    </div>
  <!--[if lt IE 9]>
    <script src="../../../javascript/placeholders.min.js"></script>
    <![endif]-->
    <div class="topIcon"></div>
  </body>

  </html>
