<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
  <title>TV Principle</title>
  <link rel="stylesheet" href="../../../css/basic.css">
  <link rel="stylesheet" href="../../../css/style.css">
  <link rel="stylesheet" href="../../../css/flexslider.css">
  <script src="../../../javascript/jquery-1.8.3.min.js"></script>
  <script src="../../../javascript/jquery.flexslider-min.js"></script>
  <script>
  var jqv = jQuery.noConflict();
  window.parent.menuReCall("dep9_2_2");
  </script>
  <script src="../../../javascript/sub_jquery.js"></script>
  <script src="../../../javascript/placeholders.min.js"></script>
  <!--[if lt IE 9]>
    <script src="../../../javascript/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <div id="basicList" class="showCon">
    <div class="conTop">
      <h2>Toast Popup</h2>
      <div class="tabBoxWrap">
        <ul class="tabBox clfix">
          <li><a href="">Definition</a></li>
          <li><a href="">Usage</a></li>
          <li><a href="">Interaction</a></li>
          <li><a href="">Specs</a></li>
        </ul>
      </div>
    </div>
    <!-- //.conTop -->
    <div class="conBottom">
      <div class="conBottomInner">
        <div class="subConInTit">
          C_POPUPTOAST
        </div>
        <dl class="infoList tabList type2">
          <dt>Definition</dt>
          <dd>
            Use a toast to provide simple messages when the user does not need to make an additional action or confirmation.
          </dd>
          <dt>Usage</dt>
          <dd searchWord="C_POPUPTOAST">
            <dl class="infoList_1 type2">
              <dt>Unlike other popups, a toast only have the body field as they are just used for providing simple feedback to users’ actions.</dt>
              <dd><img src="../../../img/components/popup/toastPopup/1.png" alt="" class="searchImg"></dd>
            </dl>
          </dd>
          <dt>Interaction</dt>
          <dd>
            <ul class="indentList type2">
              <li>- Also, users can interact with the screen while a toast is on the screen. A toast will automatically disappear after a certain time.</li>
              <li>- Toasts should appear around the component where the users’ last action occurred. This helps users easily find and check information without having to look for it.</li>
              <li>- However, if the screen that the users’ last action occurred is already closed or the toast message is not related to the users’ last action, toasts should appear at the center of the screen.</li>
            </ul>
          </dd>
          <dt>Specs</dt>
          <dd>
            <dl class="infoList_1">
              <dt>Properties</dt>
              <dd>
                <dl class="infoList_1 type2 type5">
                  <dt>Toast popup consists of the following elements :</dt>
                  <dd>
                    <dl class="infoList_1_1">
                      <dt>1. Text (<span class="col_ora">Mandatory</span>)</dt>
                      <dd>
                        <ul class="indentList">
                          <li>- Text should provide simple feedback message about the current status.</li>
                          <li>- The message text should be simple and be only 1 line long. </li>
                        </ul>
                      </dd>
                    </dl>
                    <ul class="listStyle02">
                      <li><img src="../../../img/components/popup/toastPopup/2.png" alt=""></li>
                    </ul>
                  </dd>
                </dl>
              </dd>
              <dt>Property Table</dt>
              <dd>
                <table class="propertyTbl">
                  <colgroup>
                    <col width="25%">
                    <col width="15%">
                    <col>
                  </colgroup>
                  <tbody>
                    <tr>
                      <th class="propertyTblTit" scope="col" colspan="3">C_POPUPTOAST</th>
                    </tr>
                    <tr>
                      <th scope="col">
                        PROPERTY
                      </th>
                      <th scope="col">
                        USE
                      </th>
                      <th scope="col">
                        VALUE
                      </th>
                    </tr>
                    <tr>
                      <td>Text</td>
                      <td><span class="textO">◎</span></td>
                      <td>&lt;&lt;value&gt;&gt;</td>
                    </tr>
                  </tbody>
                </table>
              </dd>
              <dt>Visual</dt>
              <dd>
                <dl class="infoList_1 type2 type5">
                  <dt>GUI</dt>
                  <dd>
                    <dl class="visualTagList">
                      <dt>C_POPUPTOAST</dt>
                      <dd><img src="../../../img/components/popup/toastPopup/6.png" alt=""></dd>
                      <dd><img src="../../../img/components/popup/toastPopup/7.png" alt=""></dd>
                    </dl>
                  </dd>
                </dl>
                <div class="visualImgTxt"><img src="../../../img/components/popup/toastPopup/5.png" alt="">
                <div class="tempLinkBox">
                    LINK : <a href="javascript:parent.parentLocationChg('components/popup/basicPopup')">C_POPUPBASIC</a>
                  </div>
                  </div>
                <div class="visualImgTxt"><img src="../../../img/components/popup/toastPopup/8.png" alt=""></div>
              </dd>
            </dl>
          </dd>
        </dl>
        <dl class="tagDl">
          <dt>*Tags :</dt>
          <dd>
            <span class="tagItem" linktag="dep9_2_1">Basic Popup</span>
          </dd>
        </dl>
      </div>
    </div>
    <!-- //.conBottom -->
  </div>
  <!--[if lt IE 9]>
    <script src="../../../javascript/placeholders.min.js"></script>
  <![endif]-->
  <div class="topIcon"></div>
</body>

</html>
