<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
	<title>TV Principle</title>
	<link rel="stylesheet" href="../../css/basic.css">
	<link rel="stylesheet" href="../../css/style.css">
	<link rel="stylesheet" href="../../css/flexslider.css">
	<script src="../../javascript/jquery-1.8.3.min.js"></script>
	<script src="../../javascript/jquery.flexslider-min.js"></script>
	<script>
	var jqv = jQuery.noConflict();
	window.parent.menuReCall("dep7_2");
	</script>
	<script src="../../javascript/sub_jquery.js"></script>
	<script src="../../javascript/placeholders.min.js"></script>
	<!--[if lt IE 9]>
<script src="../../javascript/html5shiv.js"></script>
<![endif]-->
</head>

<body>
	<!-- #reverseUI -->
	<div id="reverseUI" class="showCon">
		<div class="conTop">
			<h2>Reverse UI</h2>
			<div class="tabBoxWrap">
				<ul class="tabBox clfix">
					<li><a href="">Definition</a></li>
					<li><a href="">Expression Rules</a></li>
					<li><a href="">Usage</a></li>
				</ul>
			</div>
		</div>
		<!-- //.conTop -->
		<div class="conBottom">
			<div class="conBottomInner">
				<dl class="infoList tabList noFunction">
					<dt>Definition</dt>
					<dd>
						<p>For languages written from right to left, such as Arabic, all the user interface should be displayed right to left.</p>
					</dd>
					<dt>Expression Rules</dt>
					<dd>
						<dl class="infoList_1">
							<dt>
								Word and Sentence
							</dt>
							<dd>
								<img src="../../img/usability/reverseui/1.png" alt="">
							</dd>
							<dt>
								Number and Unit
							</dt>
							<dd>
								<img src="../../img/usability/reverseui/2.png" alt="">
							</dd>
							<dt>
								Icon and Checkbox
							</dt>
							<dd>
								<img src="../../img/usability/reverseui/3.png" alt="">
							</dd>
							<dt>
								Component
							</dt>
							<dd>
								<img src="../../img/usability/reverseui/4.png" alt="">
							</dd>
						</dl>
					</dd>
					<dt>Usage</dt>
					<dd>
						<dl class="infoList_1 type6">
							<dt>
								Layout
							</dt>
							<dd>
								<dl class="basicDl2">
									<dt>UI components should be arranged from right to left and from top to bottom.
										<br> Basically, the initially focused item is the same as the basic UI (item-based, not position-based).
										<br> Exceptional cases exist. They should be described in the related pages.
										<br> * Exceptional case: When users are using the 5-directional key, the Reverse UI rules should not be applied.
										<br> If items are displayed from the left and aligned to the left, display the items from the right and align them to the right.
										<br> If items are displayed from the left and aligned to the center, keep the alignment but display the items from the right.</dt>
									<dd><img src="../../img/usability/reverseui/5.png" alt=""></dd>
								</dl>
							</dd>
							<dt>
								Image Item and Grid
							</dt>
							<dd>
								<dl class="basicDl2">
									<dt>
										Change the alignment and display order of the icons that are shown on a thumbnail, to the opposite direction.
										<br> Keep the progress direction the same as the basic UI.
									</dt>
									<dd><img src="../../img/usability/reverseui/6.png" alt=""></dd>
									<dt>
										The display order of thumbnails in a list must be right to left and top to bottom. Change the alignment of thumbnails from left-aligned to right-aligned.
									</dt>
									<dd><img src="../../img/usability/reverseui/7.png" alt=""></dd>
								</dl>
							</dd>
							<dt>
								List
							</dt>
							<dd>
								<dl class="basicDl2">
									<dt>
										The display order of items in a list is the same as the basic UI (top to bottom).
										<br> Change the alignment of items from left-aligned to right-aligned.
									</dt>
									<dd><img src="../../img/usability/reverseui/8.png" alt=""></dd>
								</dl>
							</dd>
							<dt>
								Popup
							</dt>
							<dd>
								<dl class="basicDl2">
									<dt>
										Display items and components from the right according to the basic rule.
									</dt>
									<dd><img src="../../img/usability/reverseui/9.png" alt=""></dd>
								</dl>
							</dd>
							<dt>
								Button
							</dt>
							<dd>
								<dl class="basicDl2">
									<dt>
										Display the icon to the right of the text label.
									</dt>
									<dd><img src="../../img/usability/reverseui/10.png" alt=""></dd>
								</dl>
							</dd>
							<dt>
								Notification
							</dt>
							<dd>
								<dl class="basicDl2">
									<dt>
										Display items and components from the right according to the basic rule.
									</dt>
									<dd><img src="../../img/usability/reverseui/11.png" alt=""></dd>
								</dl>
							</dd>
							<dt>
								Wizard
							</dt>
							<dd>
								<dl class="basicDl2">
									<dt>
										The display order of step indicators is from right to left. Refer to the Expression Rules and Layout sections.
									</dt>
									<dd><img src="../../img/usability/reverseui/12.png" alt=""></dd>
								</dl>
							</dd>
						</dl>
					</dd>
				</dl>
				<dl class="tagDl">
					<dt>*Tags :</dt>
					<dd>
						<span class="tagItem" linktag="dep6_14_1">Checkbox</span>,
						<span class="tagItem" linktag="dep6_14_2">Radio Button</span>,
						<span class="tagItem" linktag="dep6_2">Button</span>,
						<span class="tagItem" linktag="dep6_6_2">Input Field</span>,
						<span class="tagItem" linktag="dep6_6_3">1-line PIN Field</span>,
						<span class="tagItem" linktag="dep6_6_4">2-line PIN Field</span>,
						<span class="tagItem" linktag="dep6_25_1">Image Item</span>,
						<span class="tagItem" linktag="dep6_25_2">Text Item</span>,
						<span class="tagItem" linktag="dep6_12">Progress Indicator</span>,
						<span class="tagItem" linktag="dep6_24">Slider</span>,
						<span class="tagItem" linktag="dep6_16">Spin Control</span>,
						<span class="tagItem" linktag="dep6_5">Grid</span>,
						<span class="tagItem" linktag="dep6_8">List</span>,
						<span class="tagItem" linktag="dep6_9">Notification</span>,
						<span class="tagItem" linktag="dep9_2">Popup</span>
					</dd>
				</dl>
			</div>
			<!-- .conBottomInner -->
		</div>
		<!-- .conBottom -->
	</div>
	<!-- //#reverseUI.showCon -->
	<!--[if lt IE 9]>
<script src="../../javascript/placeholders.min.js"></script>
<![endif]-->
	<div class="topIcon"></div>
</body>

</html>
