<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0,user-scalable=yes">
  <title>TV Principle</title>
  <link rel="stylesheet" href="../../css/basic.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/flexslider.css">
  <script src="../../javascript/jquery-1.8.3.min.js"></script>
  <script src="../../javascript/jquery.flexslider-min.js"></script>
  <script>
  var jqv = jQuery.noConflict();
  window.parent.menuReCall("dep1_2");
  </script>
  <script src="../../javascript/sub_jquery.js"></script>
  <script src="../../javascript/placeholders.min.js"></script>
  <!--[if lt IE 9]>
    <script src="../../javascript/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <div id="designPrinciple" class="showCon">
    <div class="conTop">
      <h2>LUMI OVERARCHING PRINCIPLES</h2>
      <div class="tabBoxWrap">
        <ul class="tabBox clfix">
          <li><a href="">Definition</a></li>
          <li><a href="">Inpire Continuity</a></li>
          <li><a href="">Loyal Respinsive</a></li>
        </ul>
      </div>
    </div>
    <!-- //.conTop -->
    <div class="conBottom">
      <div class="conBottomInner">
        <div class="themeCon">
          <dl class="infoList tabList type2 noFunction themeDl">
            <dt><img src="../../img/creative_vision/lumi/1.png" alt=""></dt>
            <dd>
                <p class="lumiSubTit">
                  Light slices time and introduces shadow and pace;<br>
                  it helps things become defined.
                </p>
                <p class="lumiImg"><img src="../../img/creative_vision/lumi/2.png" alt=""></p>
            </dd>
            <dt>
              <div class="themeDlTit">
                1
              </div>
              <div class="themeDlTit">
                Inspire Continuity
              </div>
            </dt>
            <dd>
              <ul class="themeList clfix">
                <li>
                  <div class="img">
                    <img src="../../img/creative_vision/lumi/3.png" alt="">
                  </div>
                  <div class="txt">
                    <div class="tit">Simplified palette</div>
                    <div class="txtCon">
                      Visible | Clear
                    </div>
                  </div>
                </li>
                <li>
                  <div class="img">
                    <img src="../../img/creative_vision/lumi/4.png" alt="">
                  </div>
                  <div class="txt">
                    <div class="tit">Clear focus</div>
                    <div class="txtCon">
                      Truthful | Expected
                    </div>
                  </div>
                </li>
                <li>
                  <div class="img">
                    <img src="../../img/creative_vision/lumi/5.png" alt="">
                  </div>
                  <div class="txt">
                    <div class="tit">Elegant copy</div>
                    <div class="txtCon">
                      Informative | Considered
                    </div>
                  </div>
                </li>
                <li>
                  <div class="img">
                    <img src="../../img/creative_vision/lumi/6.png" alt="">
                  </div>
                  <div class="txt">
                    <div class="tit">Smart color picker</div>
                    <div class="txtCon">
                      Related | Delightful
                    </div>
                  </div>
                </li>
                <li>
                  <div class="img">
                    <img src="../../img/creative_vision/lumi/7.png" alt="">
                  </div>
                  <div class="txt">
                    <div class="tit">Blur in motion</div>
                    <div class="txtCon">
                      Real | Immersive
                    </div>
                  </div>
                </li>
                <li>
                  <div class="img">
                    <img src="../../img/creative_vision/lumi/8.png" alt="">
                  </div>
                  <div class="txt">
                    <div class="tit">Rational visuals</div>
                    <div class="txtCon">
                      Sane | Powerful
                    </div>
                  </div>
                </li>
              </ul>
            </dd>
            <dt>
              <div class="themeDlTit">
                2
              </div>
              <div class="themeDlTit">
                Loyal Responsive
              </div>
            </dt>
            <dd>
              <p class="themeTxt">
                Assigning interaction behaviours to different software states,<br>
                we fission the mood board to fuse our identity elements.<br><br>
                Phrase motion that facilitates understanding of processes.
              </p>
              <div class="themeImg">
                <img src="../../img/creative_vision/lumi/9.png" alt="">
              </div>
            </dd>
          </dl>
        </div>
      </div>
    <!-- //.conBottom -->
  </div>
  <!--[if lt IE 9]>
    <script src="../../javascript/placeholders.min.js"></script>
  <![endif]-->
  <div class="topIcon"></div>
</body>

</html>
